<%
# frozen_string_literal: true
subject("Confirmation de votre inscription au Concours de Synopsis")
%>
<p>
Bonjour <%= user.pseudo %>,
</p>
<p>
  Je vous confirme que votre inscription à la session <%= Concours.current.annee %> du Concours de Synopsis de l'atelier Icare a bien été prise en compte.
</p>
<p>N'oubliez pas d'ajouter l'adresse du concours (concours@atelier-icare.net) à vos adresses connues afin que les messages du concours ne soient pas rejetés dans vos spams.</p>
<p>
  Vous pouvez dès à présent rejoindre la section du concours sur le site grâce à un lien “Concours”
  depuis <%= votre_bureau %>.
</p>
<p>
  Bien à vous,
</p>
<p>L'administration de l'atelier Icare</p>
