<%
subject(MESSAGES[:concours_new_signup_titre])
%>
<p>Phil,</p>
<p>Je te fais part d'une <strong>nouvelle inscription au concours de synopsis</strong>.</p>
<p>Identification : <%= pseudo %> (ID: <%= id %>)</p>
<p>Il a connu le concours par <%= html.source_concours %>.</p>
<p><%= le_bot %></p>
