<p>Phil,</p>
<p>Je te fais part d'une <strong>nouvelle inscription au concours de synopsis</strong>.</p>
<p>Identification : <%= concurrent.pseudo %> (ID: <%= concurrent.id %>)</p>
<p>Il a connu le concours par <%= @source_concours %>.</p>
<p><%= le_bot %></p>
