<%
subject(MESSAGES[:concours_new_signup_titre])
%>
<p>Phil,</p>
<p>
  Je t'informe que l’icarien<%= fem(:ne) %> <%= pseudo %> (#<%= id %>)
  vient de s'inscrire au concours de synopsis.
</p>
<p>Bien à toi,</p>
<p><%= le_bot %></p>
