<%
# frozen_string_literal: true
=begin
  Mail pour informer les icariens que le nouveau concours est lancé
=end
subject("Lancement du Concours de Synopsis de l'atelier")
%>
<p>
Bonjour %{pseudo} !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
