<%
# frozen_string_literal: true
=begin
  Mail pour annoncer le palmarès
  CE MAIL CONTIENT LES RÉSULTATS DU CONCURRENT
=end
%>
<p>
Bonjour <%= concurrent.pseudo %> !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
