<%
# frozen_string_literal: true
=begin
  Mail pour informer les concurrents (ayant participé à une session précédente)
  que le nouveau concours est lancé
=end
%>
<p>
Bonjour <%= concurrent.pseudo %> !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
