<%
# frozen_string_literal: true
=begin
  Mail pour informer les membres du jury que l'échéance est arrivée
=end
%>
<p>
Bonjour <%= concurrent.pseudo %> !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
