<%
# frozen_string_literal: true
=begin
  Mail envoyé entre le début du concours et l'échéance, toutes les semaines,
  et tous les deux jours les 15 derniers jours, pour informer les concurrents
  inscrits au concours du nombre de participants et de l'échéance.
=end
%>
<p>
Bonjour <%= concurrent.pseudo %> !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
