<%
# frozen_string_literal: true

# Boucle sur la liste des synopsis classés par note
%>
<div>NOMBRE SYNOPSIS : <%= Synopsis.all_sorted.count %></div>
<% Synopsis.all_sorted.each do |syno| %>
  <%= syno.fiche_lecture.out(format: :concurrent) %>
<% end %>
