<%# frozen_string_literal: true %>
<%
=begin
  Formulaire d'inscription au concours d'Icare
  Note : on profite de ce formulaire d'inscription pour poser certaines
  questions générales et personnelles.

  Ce formulaire permet aussi au candidat de retrouver son compte pour
  pouvoir, par exemple, transmettre ses documents.
=end
%>

<%
signedup_form = Form.new(id: "concours-signedup-form", route:route.to_s, class:'form-value-300')
signedup_form.rows = {
  'Votre mail'    => {name:"p_mail", type:'text'},
  'Votre Numéro'  => {name:'p_concurrent_id', type:'text'},
  '<explication>' => {type:"raw", name: "<div class=\"explication\">Ce numéro correspond au numéro qui vous a été attribué à l'inscription (et envoyé par mail).</div>"}
}
signedup_form.submit_button = UI_TEXTS[:concours_bouton_sidentifier]
%>

<%= signedup_form.out %>
