<p class="explication">Cette section permet de suivre le travail de vérification des pages (orthographe, aspect sur tous les appareils).</p>

<%
=begin
  Ici, on présente une liste des pages avec des colonnes présentant :

  - correction par Marion achevée
  - correction par Phil achevée
  - visibilité sur ordinateur mac OK
  - visibilité sur ordinateur PC OK
  - visibilité sur tablette OK
  - visibiliité sur Androïdes OK
  - visibilité sur iPhones OK
=end
%>
