<p class="explication">Cette section permet de suivre le travail de vérification des pages (orthographe, aspect sur tous les appareils). Pour ajouter une page, la rejoindre, ouvrir la boite à outils administeur en bas à gauche de l'écran et cliquer sur “Inspecter la page”.</p>
<%
=begin
  Ici, on présente une liste des pages avec des colonnes présentant :
=end
%>
<form action="<%= route.to_s %>" method="POST" class="nolimit noborder nopadding nogrid noform" style="">
<input type="hidden" name="op" value="save-inspection">
<input type="hidden" name="route" value="<%= route.to_s %>">
<div id="inspector-list" class="nolimit">
  <div id="inspector-list-header">
    <%= VPage.listing_header %>
  </div>
  <div id="inspector-list-listing">
    <%= VPage.listing %>
  </div>
  <div id="inspector-list-buttons" class="buttons">
    <input type="submit" class="btn main" value="Enregistrer">
  </div>
</div>
</form>
