<%# frozen_string_literal: true %>
<%
form = Form.new(id:'form-change-password', route:route.to_s, class:'form-libelle-240')
form.rows = {
  'Mot de passe courant' => {name: 'old_password'},
  'Nouveau mot de passe' => {name: 'new_password'}
}
form.submit_button = UI_TEXTS[:btn_change_password]
%>
<%= form.out %>

<p class="explication">Un mot de passe valide comporte entre 6 et 50 signes choisis parmi les lettres, majuscules ou minuscules, les chiffres de 0 à 9 aisni que les ponctuations simples — “?”, “!”, “;”, “.”, “,”, “…”.</p>
