<%
## frozen_string_literal: true
subject("[CONCOURS #{ANNEE_CONCOURS_COURANTE}] Fin des présélections")
%>
<p>Bonjour %{pseudo},</p>
<p>J'ai le plaisir de vous annoncer la fin des présélections du <%= CONCOURS_LINK.with(full: true, text:"Concours de Synopsis de l'atelier Icare") %>.</p>
<p>Nous tenons à vous remercier chaleureusement pour votre investissement dans cette première sélection, qui n'a pas dû être de tout repos eu égard à la quantité de fichiers déposés.</p>
<p>En tant que membre des deux jurys, nous vous souhaitons bon courage pour procéder à la sélection finale des 3 synopsis lauréats.</p>
<p>Bien à vous,</p>
<p>L’administration du concours</p>
