<%
# frozen_string_literal: true

subject("[CONCOURS #{Concours.current.annee}] Fin des présélections")
%>
<p>
Ch%{ere} %{pseudo},
</p>
<p>Nous avons la désagréable et délicate tâche de vous annoncer que votre projet “%{titre}” n’a malheureusement pas été retenu pour la phase finale du <%= CONCOURS_LINK.with(full: true, text:"Concours de Synopsis de l'atelier Icare") %>. Nous en sommes sincèrement désolé pour vous.</p>
<p>Souvenez-vous cependant qu’une sélection comme celle-ci est par nature subjective et que de nombreux facteurs interviennent dans le choix d’un jury particulier à un moment particulier, au-delà de la seule qualité artistique et de l’intérêt du projet.</p>
<p>En d’autres termes, réfléchir aux raisons qui n’ont pas fait aboutir votre candidature peut être utile — notamment si cette réflexion s’appuie sur la fiche de lecture qui vous sera remise dans une dizaine de jours si vous l’avez demandée —, mais cela ne doit en aucun cas mettre en question votre passion et votre droit à tout faire pour tenter de la vivre le plus loin possible.</p>
<p>Nous restons convaincus que fort%{e} de cette expérience vous pourrez faire mieux à la prochaine session du concours. D’ici là, n’hésitez pas à vous former autant que vous le pouvez, par la pratique, la lecture et l’enseignement.</p>
<p>Vous pouvez retrouver toutes les informations sur ces présélections et notamment votre classement dans la section “<%= PALMARES_LINK.with(full:true) %>” du concours, sur le site de l’atelier Icare.</p>
<p>En vous faisant part à nouveau de nos regrets sincères,</p>
<p>Bien à vous,</p>
<p>L’administration du concours de l’atelier Icare</p>
