<%
## frozen_string_literal: true
subject("[CONCOURS #{ANNEE_CONCOURS_COURANTE}] Fin des présélections")
%>
<p>Bonjour %{pseudo},</p>
<p>J'ai le plaisir de vous annoncer la fin des présélections du <%= CONCOURS_LINK.with(full: true, text:"Concours de Synopsis de l'atelier Icare") %>.</p>
<p>Vous trouverez toutes les informations sur cette présélection à l’adresse <%= PALMARES_LINK.with(full:true) %>.</p>
<p>Nous tenons à vous remercier chaleureusement pour votre investissement dans cette première sélection, qui n'a pas dû être de tout repos eu égard à la quantité de dossiers déposés.</p>
<p>Bien à vous,</p>
<p>L’administration du concours</p>
