<%
# frozen_string_literal: true

subject("[CONCOURS #{Concours.current.annee}] Fin des présélections")
%>
<p>
Ch%{ere} %{pseudo},
</p>
<p>J'ai la désagréable et délicate tâche de vous annoncer que votre projet “%{titre}” ne fait malheureusement pas partie de la présélection pour la Finale du Concours de Synopsis de l'atelier. Nous en sommes sincèrement désolé pour vous.</p>
<p>Souvenez-vous cependant qu'une sélection comme celle-ci est profondément subjective et que de nombreux facteurs interviennent dans les choix d'un jury particulier à un moment particulier, au-delà de la seule qualité artistique et de l'intérêt votre projet.</p>
<p>En d'autres termes, réfléchir aux raisons qui n'ont pas fait aboutir votre candidature peut être utile — notamment si cette réflexion s'appuie sur la fiche de lecture qui vous sera remplie, si vous l'avez demandée —, mais cela ne doit en aucun cas remettre en cause votre passion et votre droit à tout faire pour tenter de la vivre.</p>
<p>Et fort%{e} de cette expérience, nous sommes certains que vous pourrez faire mieux l'année prochaine à la session suivante du concours.</p>
<p>%{ajout_fiche_lecture}</p>
<p>Vous pouvez retrouver toutes les informations sur cette préselection, et notamment votre classement dans la section “<%= RESULTATS_LINKS.with(full:true) %>” du concours, sur le site de l'atelier Icare.</p>
<p>En vous faisant part à nouveau de nos regrets,</p>
<p>Bien à vous,</p>
<p>L’administration du concours de l'atelier Icare</p>
