<%
## frozen_string_literal: true
subject("[CONCOURS #{ANNEE_CONCOURS_COURANTE}] Fin des présélections")
%>
<p>Bonjour %{pseudo},</p>
<p>J'ai le plaisir de vous annoncer la fin des présélections du <%= CONCOURS_LINK.with(full: true, text:"Concours de Synopsis de l'atelier Icare") %>.</p>
<p>Vous trouverez toutes les informations sur cette présélection à cette adresse : <%= PALMARES_LINK.with(full:true) %>.</p>
<p>C'est donc le moment pour vous d'entrer en scène pour procéder à la sélection des 3 lauréats parmi les 10 dossiers présélectionnés.</p>
<p>Pour vous y aider, vous trouverez sur le site une <%= EVALUATION_LINK.with(full:true) %> avec des fiches qu'il vous suffit de remplir (note : ces fiches d'évaluation permettent de produire les fiches de lecture).</p>
<p>Surtout, si vous rencontrez la moindre difficulté, n'hésitez pas à nous contacter aussitôt.</p>
<p>Bien à vous et bon courage pour ce choix final,</p>
<p>L’administration du concours</p>
