<%
## frozen_string_literal: true
subject("[CONCOURS #{ANNEE_CONCOURS_COURANTE}] Fin des présélections")
%>
<p>Bonjour %{pseudo},</p>
<p>J'ai le plaisir de vous annoncer la fin des présélections du <%= CONCOURS_LINK.with(full: true, text:"Concours de Synopsis de l'atelier Icare") %>.</p>
<p>C'est donc le moment pour vous d'entrer en scène pour choisir, parmi les 10 synopsis retenus, celui qui sera lauréat du concours.</p>
<p>Pour vous y aider, vous trouverez sur le site une <%= EVALUATION_LINK.with(full:true) %> avec des fiches qu'il vous suffit de remplir pour vous faire une première idée (subjective) de la valeur de chaque projet.</p>
<p>Si vous rencontrez la moindre difficulté, n'hésitez pas à nous contacter aussitôt.</p>
<p>Bien à vous et bon courage pour ce choix final,</p>
<p>L’administration du concours</p>
