<p>Pour commander un module vous devez au préalable poser votre candidature.</p>
<div class="only-message">
  <%= Tag.lien(route:'user/signup', titre:UI_TEXTS[:btn_canditater], class:'btn main') %>
</div>
