<div>
  Ici la partie "fiches de lecture". Principalement pour produire les fiches de lecture.
</div>

<a href="concours/admin?section=fiches_lecture&op=produce_fiches_lecture" class="main btn small">Produire les fiches de lecture</a>
