<%
# frozen_string_literal: true
=begin
  Mail pour informer les icariens que le nouveau concours est lancé
=end
subject("Lancement du Concours de Synopsis de l'atelier")
%>
<p>
Bonjour %{pseudo} !
</p>
<p>J'ai le grand plaisir de vous annoncer le lancement officiel du :</p>
<p style="text-align:center;font-weight:bold;">
CONCOURS DE SYNOPSIS <%= Concours.annee_courante %> DE L'ATELIER ICARE !
</p>
<p>Vous trouverez tous les renseignements à l'adresse :</p>
<p style="text-align:center;">
  <%= Tag.link(distant: true, route:"concours", text: "https://www.atelier-icare.net/concours") %>
</p>
<p>N'hésitez pas à partager l'information avec toute personne susceptible d'être intéressée.</p>
<p>En espérant vous compter peut-être parmi les concurrent%{e}s,</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
