<p>
Votre option sur le module « <%= absmodule.name %> » a été enregistrée et transmise à l'administration de l'atelier.
</p>
<p>Une fois que Phil aura validé l'accès à ce module — ce qui devrait être exécuté rapidement —, vous pourrez le payer et le démarrer depuis votre bureau !</p>

<p>Dans l’attente de vous accompagner à nouveau dans votre écriture, un grand merci de votre confiance ! <%= Emoji.get('gestes/priere').texte %></p>
