<%
# frozen_string_literal: true
subject("Une commande de module")
%>
<p>Phil, je t'informe que <%= user.pseudo %> (#<%= user.id %>) vient de commander le module d'apprentissage “<%= absmodule.name %>”.</p>
<p>Il te suffit de rejoindre les notifications de ton bureau pour le valider.</p>
<p>Bien à toi,</p>
<%= le_bot %>
