<%
# frozen_string_literal: true
subject("Votre commande de module")
%>
<p><%= user.pseudo %></p>,
<p>Je vous confirme par la présente que votre commande du module “<%= absmodule.name %>” a bien été enregistrée et sera étudiée par Phil dans les plus brefs délais.</p>
<p>En vous remerciant de votre confiance,</p>
<p>Bien à vous,</p>
<p><%= le_bot %></p>
