AddHandler cgi-script .rb
Options +ExecCGI
Options -Indexes

DirectoryIndex index.rb

Options +FollowSymlinks
RewriteEngine on

# Pour ne pas rediriger les images, fichiers css, fonts, etc.
RewriteCond %{REQUEST_FILENAME} !.+\.(css|js|jp2|png|jpg|pdf|ico|txt)$

# Pour ne pas rediriger l'appel au script ajax
RewriteCond %{REQUEST_FILENAME} !.+ajax\.rb$

# Traitement de toutes adresse sauf image, css ou pdf
RewriteRule ^(.*)$ index.rb?ri=$1 [QSA,L]
