AddHandler cgi-script .rb
Options +ExecCGI
Options -Indexes

DirectoryIndex index.rb

Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)

# === REDIRECTION : EN CHANTIER ===
# Tout rediriger vers index.html le temps d'installer la nouvelle
# version de l'atelier. Mais ça doit être valable sauf pour mon IP
#RewriteCond %{REMOTE_ADDR} !^::1
#RewriteCond %{REMOTE_ADDR} !^5\.50\.38\.1 # mettre ici mon IP
####RewriteRule ^(.*)$ index.html [L]

RewriteRule ^(.*)$ index.rb?route_init=$1 [QSA,L]
