/* ---------------------------------------------------------------------
 *    Code généré automatiquement à partir des feuilles css
 *    du dossier './css/required'
 *
 *    Date dernière modification : 2020-10-12 06:10:55 +0200
 *
 --------------------------------------------------------------------- */
:root {
  /* Pour les titres de page, le fond du bandeau et du footer, etc. */
  --dark-color-normal: steelblue;
  --inverse-dark-color-normal: white; /* son opposé */

  /* Pour les liens-outils principaux de l'entête */
  --lighter-color-normal: rgb(140, 178, 209);
  --inverse-lighter-color-normal: white;

  /* Pour les block goto, etc. */
  --fond-inner-object: rgb(42, 127, 168);
  --fond-exergue-inner-object: cadetblue;

  --fond-discret-inner-object: rgb(203, 217, 232);

  /* Par exemple la table des matières flottante */
  --contre-color-normal: rgb(59, 186, 184);

  --text-max-width: 720px;
}
/*
  En fait de "pub", il s'agit de la boite qui apparait en bas à gauche
  de l'écran et qui permet d'annoncer quelque chose comme le concours
  annuel de synopsis par exemple
*/
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .overbox {
    position:fixed;
    bottom:0;
    left:0;
    width: 200px;
    z-index:200;
  }

}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .overbox {
    width: 100%;
  }

}
.overbox {
  display:block;
  padding:0.6em 1.2em;
  background-color:green;
  text-align:center;
  color:white;
  font-variant: small-caps;
  letter-spacing:4px;
}
.overbox span {
  color:white;
  font-variant: small-caps;
  letter-spacing:4px;
}
.overbox span.spacer {
  letter-spacing:7.9px;
}
/*

*/
blockquote {
  color: #999999;
  border-left: 3px solid #DDDDDD;
  padding-left: 0.6em;
  font-style: italic;
}
/*
  --- LES LISTES DE LIENS HORIZONTAUX ---
*/
.horizontal_links {

}
.horizontal_links a,
.horizontal_links button
{
  margin-right:0.7em;
}
/*
  --- EXPLICATIONS ---
*/
.explication {
  font-size:0.85em;
  font-style:italic;
}
/*
*/
div.row-flex {
  display:flex;
}
div.row-flex span.libelle {
  /* flex:1; NON, C'EST divRow QUI DOIT LE DÉFINIR */
}
div.row-flex span.value {
  flex:2;
}
/*
*/
span.libelle {
  display:inline-block;
}
.libelle {
  color:#555555;
  font-size:0.86em;
  font-family:Arial,Helvetica,Geneva;
  font-style:italic;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .libelle {padding:0 12px;}
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .libelle {padding:0;}
}

/*
  Pour un div contenant un message qui doit se trouver tout seul (ou presque)
  dans la page (section#content)
*/
div.only-message {
  margin:3% 5%;
  padding:4em;
  font-size:1.2em;
  text-align:center;
  max-width:var(--text-max-width);
  box-sizing:border-box;
}

/*
  Les cadres-liens qui permettent de rejoindre les grosses parties dans
  chaque section
*/
.goto {
  position:relative;
  padding:1.5em;
  text-align:center;
  margin-top:1em;
  border:1px solid #DDDDDD;
}

@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .goto {
    display:inline-block;
    width:200px;
    min-width:200px;
    max-width:200px;
    margin-right:12px;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .goto {
    display:block;
    margin-right:12px;
    margin-right:12px;
  }
}



.goto.empty {visibility:hidden;}

.goto {
  font-family:Geneva, Helvetica, Arial;
  letter-spacing:0.2px;
  font-size:0.9em;
}

/* Couleur du fond (3 : normal, simple et exergue) */
.goto:not(.exergue):not(.simple) {
  background-color: rgba(174, 217, 210, 1);
}
.goto.simple {
  background-color:transparent;
}
.goto.exergue {
  background:linear-gradient(to right,#74babc,#397d7f);
}

/* Couleur du lien = texte */
.goto:not(.exergue) {
  color: #555555;
}
.goto.exergue {
  color: white;
}
/* Survol du lien */
.goto:hover { transition:0.1s; }
.goto:not(.exergue):hover {
  color:#000000;
}
.goto.exergue:hover {
  color:#000000;
}


span.pastille {
  border-radius:2em;
  display:inline-block;
  padding:6px;
  background-color:red!important;
  color:white!important;
  font-size:0.65em;
  width:18px;
  text-align:center;
  cursor:pointer;
}
span.pastille a {
  all:unset!important;
}
span.pastille a:hover {all:unset!important}
/* Quand la pastille est dans un bloc goto */
.goto span.pastille {
  position:absolute;
  top:-8px;
  right:-8px;
  z-index:10;
}
.goto:hover span.pastille {
  background-color:red!important;
  color:white!important;
}

/*
  Les tables des matières flottantes dans la page
*/
div.float-tdm {
  position:relative;
  width:auto;
  max-width:50%;
  border:1px solid var(--contre-color-normal);
  /* border:1px solid var(--dark-color-normal); */
  border-radius:1em;
  padding:1em 2em;
  z-index:100;
}

@media only screen and (max-width: 768px) {
  /* SMARTPHONE */
  div.float-tdm {
    display:inline-block;
    margin-top:1em;
    margin-bottom:1em;
    float:unset;
    font-variant:small-caps;
    background-color:steelblue;
  }
  div.float-tdm > a {
    /* Pour que les liens soient assez espacés */
    margin:1.5em 0;
    color:white!important;
  }
}
@media only screen and (min-width: 768px) {
  /* LARGE */
  div.float-tdm {
    display:inline-block;
  }
  div.float-tdm:not(.left) {
    float:right;
    margin:3em 0 2em 3em;
  }
  div.float-tdm.left {
    margin:3em 3em 2em 0;
  }
}


div.float-tdm > a {
  display:block;
  color: var(--contre-color-normal);
}

div.float-tdm legend {
  position: absolute;
  top:-0.8em;
  left:3.5em;
  font-style:italic;
  /* color:var(--contre-color-normal); */
  /* color:var(--fond-discret-inner-object); */
  color:#999999;
  background-color:white;
  padding:0 4px;
  font-size:0.93em;
}

/*

  --- INFOS-BULLE ---

  Note : on les obtient par Tag.info_bulle("message")
  ou Tag.info_bulle("Message d'aide", {text:"le picto à voir"})
*/
span.info-bulle {
  position:relative;
}
span.info-bulle.picto {

}
span.info-bulle.texte span.info-bulle-clip {
  border-bottom:1px dashed var(--contre-color-normal);
}
span.info-bulle.texte span.info-bulle-clip:after {
  content: '💬';
  font-size:0.85em;
  margin-left:4px;
}
span.info-bulle.picto span.info-bulle-clip {
  opacity:0.5;
}
span.info-bulle span.info-bulle-clip + span.info-bulle-aide {
  position:absolute;
  display:block;
  width:200px;
  opacity:0;
  background-color:var(--contre-color-normal);
  color:white;
  left:0px;
  top:20px;
  text-align:left;
  padding:12px;
  border-radius:12px;
  font-size:0.85em;
}
span.info-bulle span.info-bulle-clip:hover {
  opacity:1;
  z-index:100;
}
span.info-bulle span.info-bulle-clip:hover + span.info-bulle-aide {
  opacity:1;
  transition: 0.35s;
  z-index:100;
}

/*
  --- LIGNES À CASES ---
*/
div.cases-line {
  display:inline-block;
  width:auto;
  border: 1px solid;
  font-size:0.75em;

}
div.cases-line > span {
  margin:0;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div.cases-line > span {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div.cases-line > span {
    padding: 0 10px;
  }
}


div.cases-line span.case-libelle {
  background-color:#CCCCCC;
  border-left:1px solid;
  color:grey;
}
div.cases-line span.case-value {
  font-weight: 900;
  border-right:1px solid black;
}


/*
  --- DOCUMENT ---
*/
div.document {
  font-size:12.5pt;
  background-color:#EDF3F9;
  padding: 2em 3em;
  box-sizing: border-box;
}

div.document h1,
div.document h2,
div.document h3
{
  color:inherit;
  font-variant:all-small-caps;
  font-weight:normal;
}
div.document h1 {
  font-size:2.1em;
  margin-top:2em;
  margin-bottom:1em;
}
div.document > h1:nth-child(2),
div.document > h2:nth-child(2)
{
  margin-top:0;
}

div.document h2 {
  font-size:1.6em;
}
div.document h3 {
  font-size:1.2em;
}
div.state-list {
  position:relative;
  display:inline-block;
  border:1px solid #CCCCCC;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div.state-list {
    padding:1em 2em;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div.state-list {
    padding:1em 0;
  }
  div.state-list div.row span.value {
    margin-left:1em;
  }
}


div.state-list a.btn-modify {
  position:absolute;
  right:1em;
  top:8px;
  opacity:0.6;
}
div.state-list a.btn-modify:hover {
  opacity:1;
}

div.state-list.vert,
div.state-list.vert span.libelle {
  background-color: var(--fond-exergue-inner-object);
  color:black;
}

div.state-list div.row {
  display: inline-block;
  width:100%;
}

div.state-list div.row > span {
  display:inline-block;
}
div.state-list div.row span.libelle {
  font-size:0.85em;
  font-style:italic;
  opacity: 0.6;
  margin-right:12px;
  vertical-align:top;
  margin-top:3px;
}

div.state-list div.row span.libelle {
  width: 120px;
}
div.state-list.left div.row span.libelle {
  text-align:left!important;
}
div.state-list.medium div.row span.libelle {
  width: 180px;
}
div.state-list.large div.row span.libelle {
  width: 200px;
}

div.state-list div.row span.libelle:after {
  /* content:' :' */
}

div.state-list div.row span.value {

}
/*
  Les émojis sont générés par des images, pour avoir celles de Mac
*/
.emoji {
  vertical-align:text-bottom;
}
.emoji.logo {
  width:30px;
  vertical-align:text-top;
}
.emoji.mini {
  width:10px;
}
.emoji.small {
  width:20px;
}
.emoji.texte {
  /* width:20px; */
  height:1.3em;
}
.emoji.regular {
  width:30px;
}
.emoji.title {
  width:60pt;
}
.emoji.page_title {
  width:45px;
}
.emoji.large {
  width:120px;
}
.emoji.big {
  width:240px;
}
/*
  Les styles communs à l'atelier
*/
a, a:link, a:hover, a:visited, a:active {
  text-decoration:none;
  color:steelblue;
}
/* Un lien courant dans une table des matières */
a.current {
  font-style:italic!important;
  opacity:0.4;
}

/* Pour les discussions par exemple */
a.mark-new:after {
  content:'❗';
  font-size:0.75em;
}

.hidden {display:none!important}
.inline {display:inline!important}
.inline-block{display:inline-block}
.block {display:block}
.border {border:1px solid #CCCCCC; padding:0.5em;}

.invisible {visibility:hidden}

.discret-tool {
  opacity:0.3;
}
.discret-tool:hover {
  opacity:1;
}

.discret {opacity:0.5}
.tres.discret, .very.discret {opacity:0.3}
.discret:hover {opacity:1}

div.warning, p.warning, span.warning {
  border-color:rgb(226, 53, 53);
  background-color:rgb(226, 53, 53);
  color:white;
  padding:0.5em;
}


.red {color:red}
.blue {color:blue}

.tiny {
  line-height:0.9em;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .tiny {
    font-size:0.65em !important;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .tiny {
    font-size:0.55em !important;
  }
}

.small {
  font-size:0.75em;
  line-height:1.2em;
}
:not(div):not(span).small {display:inline-block;}
.small:not(.very){font-size:0.75em!important}
.very.small {font-size:0.65em!important}

.big {font-size:1.4em;}
.very.big {font-size:1.8em;}

.center,
.right
{
  width:100%;
  box-sizing:border-box;
}
.center {text-align:center}
.right {text-align:right}
.left {text-align:left}

.bold {font-weight:900}
.italic {font-style:italic}

.fleft {float:left}
.fright {float:right}

.mt1 {margin-top:1em!important;}
.mt2 {margin-top:2em!important;}
.mt3 {margin-top:3em!important;}
.mt4 {margin-top:4em!important;}

.ml1 {margin-left:1em!important;}
.ml2 {margin-left:2em!important;}
.ml3 {margin-left:3em!important;}
.ml4 {margin-left:4em!important;}

.mr1 {margin-right:8px}
.mr2 {margin-right:16px}
.mr3 {margin-right:24px}
.mr4 {margin-right:32px}


@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .mg1 {margin-left:1em}
  .mg2 {margin-left:2em}
  .mg3 {margin-left:3em}
  .mg4 {margin-left:4em}
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .mg1 {margin-left:none}
  .mg2 {margin-left:none}
  .mg3 {margin-left:none}
  .mg4 {margin-left:none}
}

.mb1 {margin-bottom:1em}
.mb2 {margin-bottom:2em}
.mb3 {margin-bottom:3em}
.mb4 {margin-bottom:4em}

.pd1 {padding:1em 1.5em!important}
.pd15 {padding:1.5em 2em!important}
.pd2 {padding:2em 2.5em!important}

.pct50 {
  width:49%!important;
}

.w100pct {width:100%}
.w50pct {width:50%}
/*
  Les sélecteurs "no"
*/
.nodisplay {display:none}
.noborder {
  border:unset!important;
}
.nopadding {padding:unset!important;}
.nobackground, .nobgd {
  background:unset!important;
}
.nomargin {
  margin:unset!important;
}
.nowrap {
  white-space:nowrap;
}
.nooverflow {overflow:hidden}

@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .nolimit {
    max-width:100%;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .nolimit {
    width:calc(100%);
  }
}

.maxlength {
  width:calc(100%);
}

.vmiddle {
  vertical-align:middle;
}

.short {width:100px}
.very.short{width:50px}

/*  Quand on utilise #{TIRET} comme tiret (pour être sûr de gérer
    le bon espace)
*/
span.tiret {margin-right:0.23em;}
html {
  scroll-behavior: smooth;
}

head title {
  color:red;
  font-size:4em;
}
head title:after {
  content:'pour voir plus loin';
}

body {
  font-family:"Times new Roman", serif, Avenir;
  color:#555555;
  margin:0;
  padding:0;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  body {font-size:16pt;}
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  body {font-size:12pt;}
}

body:not(.home) {
  max-width: 1200px;
}

h2, h3, h4, h5 {
  font-weight: normal;
  /* color: var(--dark-color-normal); */
  color:#333333;
  max-width: var(--text-max-width);
}

pre {
  white-space:break-spaces;
}

span.emoji {
  vertical-align:bottom;
  margin-right:0px;
}
H2 {
  font-size: 1.6em;
  margin-bottom: 1.4em;
}
H2 div.usefull-links {
  float:right;
  font-size: 11pt;
}

H2 div.usefull-links a,
H2 div.usefull-links button,
H2 div.usefull-links form {
  margin-left: 12px;
}

H3 {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom:1.2em;
}
H4 {
  font-size: 1.1em;
  margin-top: 1.5em;
  margin-bottom:0.7em;
}

h2.page-title {
  font-weight:normal;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  h2.page-title {
    font-size:1.7em;
    margin-left:1em;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  h2.page-title {
    font-size:1.5em;
    margin-left:0.5em;
    margin-top:1.5em;
    font-weight:bold;
    font-variant:small-caps;
  }
}


/* Les titres en général */
.titre {
  /* color:var(--dark-color-normal); */
  color:#555555;
}

p, .p, ul.p li, ul:not(.nojustify) li {
  text-align: justify;
  line-height: 1.3em;
  /* max-width: var(--text-max-width); */
  opacity:0.8;
}
ul.p {
  list-style: square;
}

ul {
  list-style:square;
}

strong, b {
  font-weight: 900;
}

fieldset {
  border-color:var(--lighter-color-normal);
  border-width:1px;
  border-radius:0.3em;
  margin-top: 2em;
}
fieldset legend {
  font-style:italic;
  color:var(--lighter-color-normal);
}

fieldset > fieldset {
  border:none;
  border-left:2px solid #555555;
  border-radius:none;
}
fieldset > fieldset > legend {
  font-size: 0.85em;
}

/* ---------------------------------------------------------------------

  SECTIONS PRÉCISES

--------------------------------------------------------------------- */

section#header {
  position:relative;
  padding:4px 24px;
  overflow:hidden;
  transition:0.3s; /* décision de Marion M. */
}
section#header:not(.home) {
  height:30px;
}

section#header.opened {
  transition:0.3s; /* décision de Marion M. */
  height:auto;
}

@media only screen and (min-width: 767px) {
  /* ÉCRAN */
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
}

section#header:not(.home) img#icone-menu {
  position:absolute;
  top:4px;
  right:4px;
  width:30px;
  cursor:pointer;
}
section#header.home img#icone-menu {display:none}

section#header:not(.home) {
  box-shadow:6px 6px 6px 1px #d2d2d2;
  background:linear-gradient(to right, white, var(--dark-color-normal));
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  section#header:not(.home) {
    margin-bottom:3.5em;
  }
  section#header div#header-tools > div {
    display:inline-block;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  section#header div#header-tools > div {
    display:block;
  }
}


section#header div#div-logo {
  font-size:1.4em;
  /* color:var(--inverse-dark-color-normal); */
  color:var(--dark-color-normal);
}
section#header div#div-logo a {
  color:var(--dark-color-normal);
}
section#header div#div-logo img#logo-papillon {
  width:40px;
  vertical-align:top;
}

section#header:not(.home) div#header-tools {
  margin-top:30px;
  width:100%;
  text-align:right;
}
section#header:not(.home).opened div#header-tools {
}
section#header div#header-tools a {
  vertical-align:-webkit-baseline-middle;
  text-align:center;
  font-family:Arial,Geneva,Helvetica;
  font-size:12.8pt;
  padding:5px 8px 3px;
  border:1px solid;
  border-radius:4px;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-right:0.5em;
  background-color:var(--lighter-color-normal);
  color:var(--inverse-lighter-color-normal);
}

@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  section#header div#header-tools a {
    display:inline-block;
    width:130px;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  section#header div#header-tools a {
    display:block;
  }
}



section#header div#header-tools a:hover {
  background-color:#DDDDDD;
  color:var(--dark-color-normal);
  transition:0.3s;
}

/* Bloc indiquant dans l'entête le nombre de notifications non lues */
section#header div.notification-tool {
  text-align:right;
  margin-bottom:1em;
}

section#body {
  min-height:280px;
}

@media only screen and (min-width: 767px) {
  section#body {
    margin-bottom:15em;
  }
  section#body:not(.home) {
    margin-top:2em;
  }
}


div#to-top-button-div {
  position:fixed;
  bottom:1em;
  right:0;
  text-align:right;
  padding-right:2em;
}
div#to-top-button-div button#to-top-button {
  all:unset;
  opacity:0.3;
  font-size:3em;
  font-family:initial;
  /* color:#777777; */
  cursor:pointer;
}
div#to-top-button-div button#to-top-button:hover {
  opacity:0.7;
}

section#body > *:not(.nolimit) {
  max-width: var(--text-max-width);
}
section#body > fieldset {
  max-width: calc(var(--text-max-width) - 2em);
}

/* --- FOOTER --- */

section#footer {
  background-color:var(--dark-color-normal);
  color:white;
  padding:.2em 1em;
  margin:4em 0 0 0;
  width:calc(100% - 2em);
  z-index:200;
}

pre#debug {
  background-color:black;
  color:white;
  padding:1em;
  font-size:14.5pt;
  white-space:break-spaces;
  margin:0;
  margin-bottom:10em;
}

/*
  LE PIED DE PAGE
*/
section#footer {
  text-align:center;
}
section#footer a {
  color:var(--inverse-dark-color-normal);
}

@media only screen and (max-width: 768px) {
  /* SMARTPHONE */
  section#footer a {
    font-size:16pt;
    width: 80%;
    margin:1.3em 0;
    display:block;
  }
}
@media only screen and (min-width: 768px) {
  /* LARGE */
  section#footer {
    position:fixed;
    bottom:0;
    left:0;
  }
  section#footer a {
    font-size:11.8pt;
    margin-right:1em;
  }
}

div.citation {
  display:block;
  max-width:460px!important;
  font-size:0.9em;
  text-align:justify;
}
div.citation span.content {
  font-style:italic;
}
div.citation div.avertissement {
  font-size: 9pt;
  text-align:right;
}
textarea {resize:none;}
select
{
  all:unset;
  border: 1px solid;
  border-radius: 4px;
  position:relative;
  padding:0 0.5em; /* peut-être un truc pour les select avec size */
  cursor:pointer;
}
select option {
  padding:4px 1em;
}

select,
select option
{
  font-size:1.2em; /* ne pas mettre !important*/
}

/*
  Pour avoir un select qui prend toute la place, utiliser plutôt la
  class w100pct. Sinon, plein de formulaire dépasseront, même avec un
  box-sizing réglé à border-box
*/
/* select:not(.select-day):not(.select-month):not(.select-year):not(.short) {width:100%;} */

form {
  font-size:inherit;
  font-family:inherit;
  font-style:inherit;
}
input[type="text"],
input[type="password"],
textarea,
select,
select option
{
  font-size:inherit;
  font-family:inherit;
  font-style:inherit;
}
input.error,
select.error,
textarea.error
{
  border-color:red;
}

form:not(.noform) {
  display:inline-block;
  background-color:#F7F7F7;
}
form:not(.inline):not(.noform){
  min-width:50%;
  border:1px solid steelblue;
  border-radius:9px;
  padding-top:2em;
  padding-bottom:2em;
}
form div.row:not(.nogrid):not(.libelle_block) {
  display:grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  margin-bottom:0.7em;
}
/*
  La largeur de la colonne span.libelle ou span.value peut être modifiée
  par les classes des type "form-libelle-xxx" et "form-value-xxx" quand on
  est sur un écran (sur un smartphone, ça prend toujours toute la place)
*/
@media only screen and (min-width: 767px) {
  form.form-libelle-100 div.row {grid-template-columns: 100px auto!important}
  form.form-libelle-180 div.row {grid-template-columns: 180px auto!important}
  form.form-libelle-240 div.row {grid-template-columns: 240px auto!important}
  form.form-libelle-250 div.row {grid-template-columns: 250px auto!important}
  form.form-libelle-300 div.row {grid-template-columns: 300px auto!important}

  form.form-value-300 div.row {grid-template-columns: auto 300px!important}
  form.form-value-600 div.row {grid-template-columns: auto 600px!important}

  form.form-libval-20-500 div.row {grid-template-columns: 20px 500px!important}

  form.form-width-300 {width:300px!important}
  form.form-width-600 {width:600px!important}
  form.form-width-140pct {width:140%!important}
}

form.inline div.buttons,
form.inline div.row {display: inline}

form:not(.noform) div.row:not(.nogrid):not(.libelle_block) span.libelle {
  grid-column:1;
  grid-row:1;
}
form:not(.noform):not(.nolibelle) div.row:not(.nogrid):not(.libelle_block) span.value {
  grid-column:2;
  grid-row:1
}
form:not(.noform).nolibelle div.row:not(.nogrid):not(.libelle_block) span.value {
  grid-column:1;
  grid-row:1
}

form div.row.libelle_block > span {
  display:block;
}

form div.row span.value div.explication {
  margin:0;
  padding:4px;
  opacity:0.5;
}
form div.row span.value div.explication:hover{opacity:1}

form:not(.inline) div.row span.libelle {
  margin-top:4px;
  overflow:hidden;
  text-overflow:ellipsis;
}
form.inline div.row span.libelle {display:none}

form div.row span.value.file {
  height:32px;
}
form div.row span.value > *:not(.explication) {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  form:not(.noform) div.row span.value > *:not(select):not(input[type="checkbox"]):not(.short) {
    width:100%;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  /* form:not(.noform) div.row span.value > input[type="text"],
  form:not(.noform) div.row span.value > input[type="password"]
  {
    width:90%;
  }
  form:not(.noform) div.row span.value textarea {
    width:90%;
  } */
}


form:not(.noform) div.row span.value > input[type="text"]:not(.short),
form:not(.noform) div.row span.value > input[type="password"]
{
  width:95%;
}
form:not(.noform) div.row span.value textarea {
  width:95%;
}

form:not(.noform) div.buttons input[type="submit"] {
  border:1px solid;
  color:rgb(27, 106, 227);
  background-color:white;
  font-size:inherit;
  font-family:Arial,Helvetica,Geneva;
  border-radius:0.3em;
}
form:not(.inline):not(.noform) {
  padding-left:40px;
  padding-right:40px;
}

form div.buttons input[type="submit"]:hover {
  background-color:rgb(27, 106, 227);
  color:white;
}
form:not(.inline) div.buttons div.other_buttons {
  float:left;
}

/*
  MINI FORMULAIRE POUR LES DATES
*/
span.date-fields {
  display:inline-block;
  white-space:nowrap;
  border:1px solid transparent;
}
span.date-fields.warning select {
  border-color:red;
}

span.date-fields select,
span.date-fields select option
{
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
}

span.date-fields select {
  margin-right:6px;
  border:1px solid;
  padding:1px 3px;
}
span.date-fields select:not(.warning){
  border-color:#CCCCCC;
}


input[type="checkbox"] + label {
  margin-left:0.3em;
  vertical-align:middle;
  font-size:0.9em;
}

div.explication {
  font-size:0.75em;
  margin-left:2em;
  text-align:justify;
  padding:8px;
}

/* Dans un "faux" champ de fichier, le bouton permettant d'annuler */
form button.file-reset {
  border:none;
  background-color:transparent!important;
  vertical-align:middle;
  margin-right:1em;
  font-size:0.4em;
  opacity:0.3;
}
form button.file-reset:hover {
  opacity:1;
}
form span.file-field {

}
form span.file-field input[type="file"] {
  width:1px!important;
  height:1px!important;
}
form span.file-name {
  display:inline-block;
  width:360px;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:0.8em;
  vertical-align:middle;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  /* *** GRAND ÉCRAN *** */
  section#body {
    padding:0 4em;
  }

  section#body.home div#bandeau {
    padding:2em 8em;
  }

  form:not(.inline):not(.noform) {
    margin:3em;
  }
  div.only-message {
    padding:4em;
  }
  div.citation {
    margin-left: 10%;
  }
  section#messages {
    position: fixed;
    top: 60px;
    max-height: 400px;
    max-width: 60%;
    left: calc(20%);
    left: calc(60% - attr(width) / 2);
    overflow-y: auto;
  }
  section#messages > div {
    box-sizing:border-box;
  }
}

@media only screen and (max-width: 767px) {

  /* *** SMARTPHONE *** */

  section#body {
    padding:24px;
    /* text-align:center; */
  }
  section#body div.row,
  section#body form,
  section#body .libelle,
  section#body .value {
    display:block!important;
  }
  section#body .libelle {
    text-align:left!important;
  }

  section#body form {
    /* Pour surclasser toutes les autres dimensions (un formulaire prend toujours toute la page) */
    /* width:fit-content !important; */
    padding:2px!important;
    margin:unset!important;
  }

  div.citation {
    margin:2%;
  }

  form:not(.inline) {
    margin:2%;
    width:calc(100% - 4%);
  }

  div.only-message {
    padding:1em;
  }

  body:not(.home) section#messages {
    margin:1em 0;
  }

}
input[type="submit"],
button[type="submit"],
input[type="button"],
button[type="button"]
{
  cursor:pointer;
}


div.buttons {
  text-align:right;
  margin-top:1em;
}

.btn:not(.small),
div.buttons a:not(.small)
{
  font-family:Arial,Helvetica,Geneva;
  letter-spacing:0.5px;
  font-size:inherit;
}
.btn:not(.tiny):not(.small),
div.buttons a:not(.tiny):not(.small),
div.buttons input[type="submit"]:not(.tiny):not(.small),
div.buttons input[type="button"]:not(.tiny):not(.small)
{
  padding:0.4em 1.1em 0.3em;
  margin-left:4px;
}

.btn.tiny,
div.buttons a.tiny,
div.buttons input[type="submit"].tiny,
div.buttons input[type="button"].tiny
{
  padding:0em 0.7em 0em;
  margin-left:6px;
}

.btn.small,
div.buttons a.small,
div.buttons input[type="submit"].small,
div.buttons input[type="button"].small
{
  padding:0.11em 0.7em 0.17em;
  margin-left:6px;
}



.btn:not(.main):not(.warning),
div.buttons a:not(.main)
{
  color:steelblue;
  background-color:white;
}

.btn.warning,
a.warning
{
  background-color:red!important;
  color:white!important;
  padding:0.4em 1.1em 0.5em!important;
}

.btn.warning:hover,
div.buttons a.warning:hover
{
  background-color:white!important;
  color:red!important;
}

.btn:not(.noborder),
div.buttons a:not(.noborder)
{
  border:1px solid;
  border-radius:4px;
}
.btn:not(.main):not(.warning):hover,
div.buttons a:not(.main):not(.warning):hover
{
  background-color:steelblue;
  color:white;
}

.btn.main,
div.buttons a.main,
div.buttons input[type="submit"].main,
div.buttons input[type="button"].main
{
  color:white;
}
.btn.main:not(.green),
div.buttons a.main,
div.buttons input[type="submit"].main,
div.buttons input[type="button"].main
{
  background-color:steelblue;
}
.btn.main.green {
  background-color:#22b822;
}
.btn.main:hover,
div.buttons a.main:hover,
div.buttons input[type="submit"].main:hover,
div.buttons input[type="button"].main:hover
{
  background-color:white;
}
.btn.main:not(.green):hover,
div.buttons a.main:hover,
div.buttons input[type="submit"].main:hover,
div.buttons input[type="button"].main:hover
{
  color:steelblue;
}
.btn.main.green:hover {
  color:#22b822;
}
section#messages {
  overflow:hidden;
  z-index: 200;
}

section#messages > div {
  display:inline-block;
  padding:0.2em 1em 0em;
  position:relative;
  min-height:2.5em;
  padding-left:4em;
  padding-top:1em;
  padding-bottom:1em;
}
section#messages .errors {
  background-color:#FFCCCC;
  color:red;
}
section#messages .notices {
  background-color:#ccffcd;
  color:rgb(0, 136, 45);
}


/* Pour le picto */
span.picto-message {
  position:absolute;
  left:8px;
  top:8px;
}
span.picto-message img {
  width:45px;
}
/*
  Un div qui va contenir une ligne de temps, comme dans la liste des documents
  ou l'historique de l'icarien.
*/
div.timeline {
  position:relative;
  box-sizing:border-box;
}
div.timeline div.vertical-timeline  {
  position:absolute;
  left:calc(50% - 2px);
  top:-40px;
  width:4px;
  height:calc(100% + 100px);
  background-color:#555555;
  z-index:-1;
}

div.timeline div.day-div {
  text-align:center;
  margin-top:2em;
  margin-bottom:1em;
  z-index:1;
}

@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  width: var(--text-max-width);
}

@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  width: auto;
}



div.timeline div.day-div span.day {
  border:1px solid;
  font-family:Georgia;
  /* font-weight:bold; */
  font-size:0.65em;
  padding:5px 15px;
  background-color: #777777;
  color:white;
  z-index:1;
}

div.timeline div.step.format1 {
  background-color:#FCFCFC;
  border:1px solid #EEECEC;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div.timeline div.step.format1 {
    font-size: 14pt;
    padding:1em;
    margin-bottom: 1em;
    box-shadow:5px 5px 5px 4px #e2e2e2;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div.timeline div.step.format1 {
    padding:0.5em;
    margin-bottom: 0.6em;
  }
}

/* Sauf si l'étape a la class nooverflow, on ne permet qu'une seule ligne */
div.timeline div.step:not(.nooverflow) {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
