<%# frozen_string_literal: true %>
<h3>Faq</h3>

<p>Vous pouvez trouver d'autres réponses à vos questions dans la <a class="btn-faq" href="concours/faq">Foire Aux Questions</a> du concours. N'hésitez pas à utiliser le <%= CONTACT_LINK.with(query_string:"envoi_titre=Question+sur+concours+de+synopsis") %> pour poser la vôtre si elle ne se trouve pas dans la F.A.Q.</p>
