<p>Choisis un icarien, pour commencer.</p>

<p><a href="./_lib/_pages_/admin/database/manuel.pdf" target="_blank" style="color:white;">Manuel en PDF</a></p>

<section id="flash"></section>

<script type="text/javascript" src="./js/modules/jquery.js"></script>
<script type="text/javascript" src="./js/modules/jquery-ui.js"></script>
<script type="text/javascript" src="./js/modules/ajax.js"></script>
