<span class="libelle">Additionneur de temps</span>
<input type="text" id="time_operation" name="time_operation" value="0 + 4jours" placeholder="Par exemple : '18765456788 + 2jours' ou '1/2/2020 + 3heures'" />
<button type="button" class="small btn" onclick="CalculeTimeOperation()">=</button>
<input type="text" id="time_operation_resultat">
<span id="time_operation_resultat_human"></span>

<p><a href="./_lib/_pages_/admin/database/manuel.pdf" target="_blank" style="color:white;">Manuel en PDF</a></p>


<section id="flash"></section>

<script type="text/javascript" src="./js/modules/jquery.js"></script>
<script type="text/javascript" src="./js/modules/jquery-ui.js"></script>
<script type="text/javascript" src="./js/modules/ajax.js"></script>
