<p>Choisis un icarien, pour commencer.</p>


<script type="text/javascript" src="./js/modules/jquery.js"></script>
<script type="text/javascript" src="./js/modules/jquery-ui.js"></script>
<script type="text/javascript" src="./js/modules/ajax.js"></script>
