/*

*/
body {
  background-color:cadetblue!important;
}

section#header {display:none!important}
h2.page-title{display:none!important}
section#body {
  position:relative;
  width:100%;
  /* width:4000px; */
  height:2000px;
}

section#flash {
  position:fixed;
  bottom:35px;
  left:0px;
  background-color:bisque;
  padding-left:0.5rem;
}
section#flash div.error {
  color:red;
}
section#flash div.message {
  color:green;
}
