.watcher {
  box-shadow: 2px 6px 16px 7px #EEEEEE;
  padding:4px 1em 1em 1em;
  font-size:0.85em;
  position:relative;
}
.watcher.unread span.pastille-rouge {
  position:absolute;
  top:-8px;
  left:-8px;
  background-color:red;
  width:20px;
  height:20px;
  border-radius:12px;
}
.watcher.unread span.pastille-rouge:after {
  display:block;
  font-size:9.8pt;
  width:300px;
  content: "Nouvelle notification. Cliquez sur « Tout marquer lu » pour indiquer que vous l'avez vue.";
  color:red;
  margin-top:-2em;
  padding:0.3em 1em;
  background-color:white;
  opacity:0;
}
.watcher.unread span.pastille-rouge:hover:after {
  opacity:0.8;
  transition:0.5s;
}
.watcher div.infos {
  text-align: right;
  margin-bottom:1em;
  border-bottom:1px solid;
}
.watcher div.infos span.titre {
  color: #91a13b;
  font-style:italic;
  font-size:0.85em;
}
.watcher div.infos span.user {
  float:left;
}

.watcher div.buttons {
  font-size:0.85em;
}
