<p>Bonjour <%= owner.pseudo %>,</p>

<p>Je vous annonce que Phil vient de déposer vos derniers documents sur le Quai des docs.</p>

<p>Il vous reste à définir leur niveau de partage.</p>

<p><%=Le_Bot%></p>
