<%= tdm %>
<p class='explication'>[Bientôt sera développée ici la politique de confidentialité des données de l'atelier Icare].</p>

<h3>Informations personnelles</h3>

<p>Lors de votre inscription, l’atelier ne récolte que les informations vous concernant utile à votre travail au sein de l’atelier et du site.</p>

<ul>
  <li>le </li>
  <li>l'<strong>âge</strong> est une donnée importante qui permet à Phil d'estimer la maturité de l'auteure ou de l'auteur. On ne peut pas appliquer la même exigence à une jeune adulte de dix-sept ans qui n'a jamais écrit qu'à un homme mûr qui pratique l'écriture depuis 20 ans</li>
</ul>

<h4>Durée de vie de ces informations</h4>

<p>Lorsque l’on est icarienne ou icarien, c'est pour la vie. Vous pouvez <em>ad eternam</em> profiter des services de l’atelier, revoir votre travail, consulter des documents du <%= quai_des_docs %>, etc.</p>

<h3>Partage des documents</h3>

<p>Le <%= quai_des_docs %> est une ressource unique de l’atelier, qui joue un rôle profond et durable dans la pédagogie pratiquée. Il permet de consulter les milliers de documents produits au cours de l’existence de l’atelier.</p>

<p>Bien sûr, chaque auteure et auteur reste propriétaire à vie de son travail et décide de le partager ou non. Un formulaire permet de décider pour chaque document la position adoptée.</p>

<p>Lorsque l’icarien ou l’icarienne quitte l’atelier — pour peu qu’il le quitte vraiment — ses documents restent consultables, à vie. Il peut bien entendu faire la demande expresse de la suppression de ses documents (mais ce serait bien dommage et contraire à la philosophie pratiquée, philosophie de partage dont cette icarienne ou cet icarien a certainement profité au cours de son apprentissage).</p>

<h4>Cotes des documents</h4>

<p>Des cotes peuvent être attribuées aux documents déposés par leurs lecteurs (autres que l'auteure ou l'auteur du-dit document). Ces cotes permettent de classer les documents par pertinence subjective.</p>

<p>Ces cotes sont nominatives — l'identifiant de l'icarien-lecteur ou de l'icarienne-lectrice est enregistré avec sa cote — mais cette information reste à l'usage unique de l'administration du site. L'icarien ou l'icarienne, même lorsqu'il ou elle est l'auteur ou l'auteure du document visé, ne peut avoir accès à cette information. Les cotes restent donc strictement anonyme.</p>

<p>Ces cotes sont conservées à vie, même lorsque l'icarienne ou l'icarien quitte l'atelier définitivement — c'est-à-dire détruit son inscription. Lorsqu'il quitte l'atelier, ses cotes deviennent anonymes et il devient impossible de les associer à leur lecteur ou leur lectrice.</p>

<%= tdm %>
