@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div.cb-module {
    display:inline-block;
    width:49%;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div.cb-module {
    margin-top:1em;
  }
}


form div.row {
  margin-bottom: 1em;
}
form div.buttons {
  margin-top: 4em;
}

span.star-required {
  font-size:9pt;
  color:red;
  vertical-align:top;
  margin-left:8px;
}
