<%
# frozen_string_literal: true
=begin
  Mail pour annoncer la fin du concours
  et remercier les jurés

  Note : ce mail n'est pas à confondre avec celui qui annonce le palmarès
=end
%>
<p>
Bonjour <%= evaluator.pseudo %> !
</p>
<p>

</p>
<p>Bien à vous,</p>
<p>L'administration de l'atelier Icare</p>
