<p>Phil va procéder au dépôt de vos documents sur le <%= quai_des_docs %>, il vous faudra ensuite déterminer leur niveau de partage pour que le cycle de vie de votre <%= icetape.ref %> soit achevé.</p>
