<div class="warning only-message">
  Vous n’êtes pas autorisé à déposer un message sur le frigo de cet<%= destinataire.fem(:te) %> icarien<%= destinataire.fem(:ne) %>.
</div>
<%= retour_frigo_if_icarien %>
