
<%
SHARING_VALUES = [
  [1, "Partager ce document"],
  [2, "Non, ne pas le partager…"]
]
rows = {}
icetape.documents.each do |document|
  rows.merge!("Partage de “#{document.name}”" => {type:'titre'})
  rows.merge!("Document original <!-- #{document.id} -->" =>
    {name:"partage-#{document.id}-original", type:'select', values:SHARING_VALUES})
  if document.has_comments?
    rows.merge!("Document commenté <!-- #{document.id} -->" =>
    {name:"partage-#{document.id}-comments", type:'select', values:SHARING_VALUES})
  end
end

form = Form.new(id: "sharing-form-etape-#{icetape.id}", watcher:id, route:route.to_s, libelle_size:300)
form.rows = rows
form.submit_button = "Appliquer ce partage"
form.submit_button_class = 'mt2 main'
%>

<div><%= icetape.ref.titleize %></div>
<%= form.out %>
<p class="explication">Pour savoir ce que vous avez à gagner en partageant votre travail, vous pouvez <%= Tag.aide(id:30, titre:'consulter l’aide') %>.</p>
<p class="explication">Pour savoir ce qu’implique un partage des documents, vous pouvez relire la <%= politique_confidentialite %> appliquée par l’atelier Icare.</p>
