<%
# frozen_string_literal: true
subject("Démarrage de module d’apprentissage")
%>
<p>Cher Phil,</p>
<p>Je tiens à t'annoncer que <%= owner.pseudo %> vient de démarrer son module <%= objet.absmodule.name %>.</p>
<p>Bien à toi,</p>
<p>Le Bot de l'atelier</p>
