<p class="small">Vous pouvez cliquer sur le bouton ci-dessous pour commencer votre module à l’atelier Icare !</p>
<div class="center">
  <%= button_run("Démarrer le module « #{objet.absmodule.name} »", class:'btn main') %>
</div>
