input[type="submit"],
button[type="submit"],
input[type="button"],
button[type="button"]
{
  cursor:pointer;
}


div.buttons {
  text-align:right;
  margin-top:1em;
}

.btn:not(.small),
div.buttons a:not(.small)
{
  font-family:Arial,Helvetica,Geneva;
  letter-spacing:0.5px;
  font-size:inherit;
}
.btn:not(.tiny):not(.small),
div.buttons a:not(.tiny):not(.small),
div.buttons input[type="submit"]:not(.tiny):not(.small),
div.buttons input[type="button"]:not(.tiny):not(.small)
{
  padding:0.4em 1.1em 0.3em;
  margin-left:4px;
}
a.btn:not(.tiny):not(.small) {
  padding:0.4em 1.1em 0.5em;
}

.btn.tiny,
div.buttons a.tiny,
div.buttons input[type="submit"].tiny,
div.buttons input[type="button"].tiny
{
  padding:0em 0.7em 0em;
  margin-left:6px;
}

.btn.small,
div.buttons a.small,
div.buttons input[type="submit"].small,
div.buttons input[type="button"].small
{
  padding:0.11em 0.7em 0.17em;
  margin-left:6px;
}



.btn:not(.main):not(.warning),
div.buttons a:not(.main)
{
  color:steelblue;
  background-color:white;
}

.btn.warning,
a.warning
{
  background-color:red!important;
  color:white!important;
  padding:0.4em 1.1em 0.5em!important;
}

.btn.warning:hover,
div.buttons a.warning:hover
{
  background-color:white!important;
  color:red!important;
}

.btn:not(.noborder),
div.buttons a:not(.noborder)
{
  border:1px solid;
  border-radius:4px;
}
.btn:not(.main):not(.warning):hover,
div.buttons a:not(.main):not(.warning):hover
{
  background-color:steelblue;
  color:white;
}

.btn.main,
div.buttons a.main,
div.buttons input[type="submit"].main,
div.buttons input[type="button"].main
{
  color:white;
}
.btn.main:not(.green),
div.buttons a.main,
div.buttons input[type="submit"].main,
div.buttons input[type="button"].main
{
  background-color:steelblue;
}
.btn.main.green {
  background-color:#22b822;
}
.btn.main:hover,
div.buttons a.main:hover,
div.buttons input[type="submit"].main:hover,
div.buttons input[type="button"].main:hover
{
  background-color:white;
}
.btn.main:not(.green):hover,
div.buttons a.main:hover,
div.buttons input[type="submit"].main:hover,
div.buttons input[type="button"].main:hover
{
  color:steelblue;
}
.btn.main.green:hover {
  color:#22b822;
}

/* Pour empêcher les boutons de s'écrire dans les versions PDF,
pour éviter les erreurs */
@print {
  .btn {display:none;}
}
