/*
  Les styles communs à l'atelier
*/
a, a:link, a:hover, a:visited, a:active {
  text-decoration:none;
  color:steelblue;
}
/* Un lien courant dans une table des matières */
a.current {
  font-style:italic!important;
  opacity:0.4;
}

/* Pour les discussions par exemple */
a.mark-new:after {
  content:'❗';
  font-size:0.75em;
}

.hidden {display:none!important}
.inline {display:inline!important}
.inline-block{display:inline-block}
.block {display:block}
.border {border:1px solid #CCCCCC; padding:0.5em;}

.invisible {visibility:hidden}

.discret-tool {
  opacity:0.3;
}
.discret-tool:hover {
  opacity:1;
}

.discret {opacity:0.5}
.tres.discret, .very.discret {opacity:0.3}
.discret:hover {opacity:1}

div.warning, p.warning, span.warning {
  border-color:rgb(226, 53, 53);
  background-color:rgb(226, 53, 53);
  color:white;
  padding:1em;
}


.red {color:red}
.blue {color:blue}

.tiny {
  line-height:0.9em;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .tiny {
    font-size:0.65em !important;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .tiny {
    font-size:0.55em !important;
  }
}

.small {
  font-size:0.75em;
  line-height:1.2em;
}
:not(div):not(span).small {display:inline-block;}
.small:not(.very){font-size:0.75em!important}
.very.small {font-size:0.65em!important}

.big {font-size:1.4em;}
.very.big {font-size:1.8em;}

.center,
.right
{
  width:100%;
  box-sizing:border-box;
}
.center {text-align:center}
.right {text-align:right}
.left {text-align:left}

.bold {font-weight:900}
.italic {font-style:italic}

.fleft {float:left}
.fright {float:right}

.mt1 {margin-top:1em!important;}
.mt2 {margin-top:2em!important;}
.mt3 {margin-top:3em!important;}
.mt4 {margin-top:4em!important;}

.ml1 {margin-left:1em!important;}
.ml2 {margin-left:2em!important;}
.ml3 {margin-left:3em!important;}
.ml4 {margin-left:4em!important;}

.mr1 {margin-right:8px}
.mr2 {margin-right:16px}
.mr3 {margin-right:24px}
.mr4 {margin-right:32px}


@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  .mg1 {margin-left:1em}
  .mg2 {margin-left:2em}
  .mg3 {margin-left:3em}
  .mg4 {margin-left:4em}
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  .mg1 {margin-left:none}
  .mg2 {margin-left:none}
  .mg3 {margin-left:none}
  .mg4 {margin-left:none}
}

.mb1 {margin-bottom:1em}
.mb2 {margin-bottom:2em}
.mb3 {margin-bottom:3em}
.mb4 {margin-bottom:4em}

.pct50 {
  width:49%!important;
}

.w100pct {width:100%}
.w50pct {width:50%}
/*
  Les sélecteurs "no"
*/
.nodisplay {display:none}
.noborder {
  border:unset!important;
}
.nopadding {padding:unset!important;}
.nobackground, .nobgd {
  background:unset!important;
}
.nomargin {
  margin:unset!important;
}
.nowrap {
  white-space:nowrap;
}
.nooverflow {overflow:hidden}

.nolimit {max-width:auto;}

.vmiddle {
  vertical-align:middle;
}

.short {width:100px}
.very.short{width:50px}

/*  Quand on utilise #{TIRET} comme tiret (pour être sûr de gérer
    le bon espace)
*/
span.tiret {margin-right:0.23em;}
