/*
  Les styles communs à l'atelier
*/
a, a:link, a:hover, a:visited, a:active {
  text-decoration:none;
  color:steelblue;
}
/* Un lien courant dans une table des matières */
a.current {
  font-style:italic!important;
  opacity:0.4;
}

.red {color:red}
.blue {color:blue}

.small {font-size:0.75em;}

.center {text-align:center}
.right {text-align:right}
.left {text-align:left}

.bold {font-weight:900}
.italic {font-style:italic}

.fleft {float:left}
.fright {float:right}

.mt1 {margin-top:1em}
.mt2 {margin-top:2em}

.mr1 {margin-right:8px}
.mr2 {margin-right:16px}

.mg1 {margin-left:1em}
.mg2 {margin-left:2em}

.noborder {
  border:unset!important;
}
.nomargin {
  margin:unset!important;
}
.nowrap {
  white-space:nowrap;
}

.vmiddle {
  vertical-align:middle;
}
