/*
  Les styles communs à l'atelier
*/
a, a:link, a:hover, a:visited, a:active {
  text-decoration:none;
  color:steelblue;
}
/* Un lien courant dans une table des matières */
a.current {
  font-style:italic!important;
  opacity:0.4;
}

.hidden {display:none!important}
.inline {display:inline}
.inline-block{display:inline-block}

.invisible {visibility:hidden}

.discret-tool {
  opacity:0.3;
}
.discret-tool:hover {
  opacity:1;
}

div.warning, p.warning, span.warning {
  border-color:rgb(226, 53, 53);
  background-color:rgb(226, 53, 53);
  color:white;
  padding:1em;
}


.red {color:red}
.blue {color:blue}

.small {font-size:0.75em;}
.big {font-size:2.5em;}

.center {text-align:center}
.right {text-align:right}
.left {text-align:left}

.bold {font-weight:900}
.italic {font-style:italic}

.fleft {float:left}
.fright {float:right}

.mt1 {margin-top:1em}
.mt2 {margin-top:2em}
.mt3 {margin-top:3em}
.mt4 {margin-top:4em}

.mr1 {margin-right:8px}
.mr2 {margin-right:16px}

.mg1 {margin-left:1em}
.mg2 {margin-left:2em}

.mb1 {margin-bottom:1em}
.mb2 {margin-bottom:2em}

.pct50 {
  width:49%!important;
}

.w100pct {width:100%;}

.noborder {
  border:unset!important;
}
.nomargin {
  margin:unset!important;
}
.nowrap {
  white-space:nowrap;
}
.nooverflow {overflow:hidden}

.nolimit {max-width:auto;}

.vmiddle {
  vertical-align:middle;
}
