/*
  Les émojis sont générés par des images, pour avoir celles de Mac
*/
.emoji {
  vertical-align:text-bottom;
}
.emoji.logo {
  width:30px;
  vertical-align:text-top;
}
.emoji.mini {
  width:10px;
}
.emoji.small {
  width:20px;
}
.emoji.texte {
  /* width:20px; */
  height:1.3em;
}
.emoji.regular {
  width:30px;
}
.emoji.title {
  width:60pt;
}
.emoji.page_title {
  width:45px;
}
.emoji.large {
  width:120px;
}
.emoji.big {
  width:240px;
}
