textarea {resize:none;}

div.watcher form {
  margin:0;
}
form {
  display:inline-block;
  background-color:#F7F7F7;
}
form:not(.inline){
  min-width:50%;
  border:1px solid steelblue;
  border-radius:9px;
  padding:2em;
}
form div.row {
  display:flex;
}
form:not(.inline) div.row span.libelle {
  margin-top:4px;
}
form:not(.inline) div.row span.libelle:not(.inline) {
  width:200px;
}
form.inline div.row span.libelle {display:none}
form.inline div.buttons,
form.inline div.row
 {display: inline}

form div.row span.value {
  display:inline-block;
  flex-grow:2;
}
form div.row span.value.file {
  height:32px;
}
form div.row span.value > * {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
}

form div.row span.value > input[type="text"],
form div.row span.value > input[type="password"]
{
  width:95%;
}

form div.row span.value > *:not(select):not(input[type="checkbox"]) {
  width:100%;
}
form div.row span.value textarea {
  width:95%;
}

form div.buttons input[type="submit"] {
  border:1px solid;
  color:rgb(27, 106, 227);
  background-color:white;
  font-size:inherit;
  font-family:Arial,Helvetica,Geneva;
  border-radius:0.3em;
}
form:not(.inline) {
  padding:9px 40px;
}

form div.buttons input[type="submit"]:hover {
  background-color:rgb(27, 106, 227);
  color:white;
}
form:not(.inline) div.buttons div.other_buttons {
  float:left;
}

/*
  MINI FORMULAIRE POUR LES DATES
*/
span.date-fields {
  display:inline-block;
  white-space:nowrap;
  border:1px solid transparent;
}
span.date-fields.warning select {
  border-color:red;
}

span.date-fields select,
span.date-fields select option
{
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
}

span.date-fields select {
  margin-right:6px;
  border:1px solid;
  padding:1px 3px;
}
span.date-fields select:not(.warning){
  border-color:#CCCCCC;
}

select,
select option
{
  font-size:1.2em!important;
}

input[type="checkbox"] + label {
  margin-left:0.3em;
  vertical-align:middle;
  font-size:0.9em;
}

div.explication {
  font-size:0.75em;
  margin-left:2em;
  text-align:justify;
  padding:8px;
}

/* Dans un "faux" champ de fichier, le bouton permettant d'annuler */
form button.file-reset {
  border:none;
  background-color:transparent!important;
  vertical-align:middle;
  margin-right:1em;
  font-size:0.4em;
  opacity:0.3;
}
form button.file-reset:hover {
  opacity:1;
}
form span.file-field {

}
form span.file-field input[type="file"] {
  width:1px!important;
  height:1px!important;
}
form span.file-name {
  display:inline-block;
  width:360px;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:0.8em;
  vertical-align:middle;
}
