@media only screen and (min-width: 768px) {
  section#body {
    padding:0 4em;
  }

  section#body.home div#bandeau {
    padding:2em 8em;
  }

  form:not(.inline):not(.noform) {
    margin:3em;
    width:calc(100% - 6em);
  }
  div.only-message {
    padding:4em;
  }
  div.citation {
    margin-left: 10%;
  }
  section#messages {
    position: fixed;
    top: 60px;
    max-height: 200px;
    max-width: 60%;
    left: calc(20%);
    left: calc(60% - attr(width) / 2);
    overflow-y: auto;
  }
  section#messages > div {
    padding-left:68px;
    box-sizing:border-box;
  }
  section#messages img.emoji.page_title {
    position:absolute;
    top:4px;
    left:12px;
  }
}

@media only screen and (max-width: 767px) {
  section#body {
    padding:8px;
    text-align:center;
  }
  section#body div.row,
  section#body form,
  section#body .libelle,
  section#body .value {
    display:block!important;
  }
  section#body .libelle {
    text-align:left!important;
  }

  section#body form {
    /* Pour surclasser toutes les autres dimensions (un formulaire prend toujours toute la page) */
    width:fit-content !important;
    padding:2px!important;
    margin:unset!important;
  }

  div.citation {
    margin:2%;
  }
  section#header {
    text-align:center;
  }
  section#header div#header-tools {
    display:none;
    float:none;
    text-align:center;
  }
  form:not(.inline) {
    margin:2%;
    width:calc(100% - 4%);
  }

  div.only-message {
    padding:1em;
  }

  section#messages {
    margin:1em 0;
  }
  section#messages img.emoji.page_title {
    position:block;
    text-align:center;
  }

}
