@media only screen and (min-width: 768px) {
  section#body {
    padding:0 4em;
  }
  form:not(.inline) {
    margin:3em;
    width:auto;
  }
  div.only-message {
    padding:4em;
  }
  section#messages {
    margin-left:2em;
  }
}

@media only screen and (max-width: 767px) {
  section#body {
    padding:8px;
    text-align:center;
  }
  section#header {
    text-align:center;
  }
  section#header div#header-tools {
    float:none;
    text-align:center;
  }
  form:not(.inline) {
    margin:2%;
    width:calc(100% - 4%);
  }

  div.only-message {
    padding:1em;
  }

  section#messages {
    margin-left:0;
  }
}
