@media only screen and (min-width: 768px) {
  section#body {
    padding:0 4em;
  }
  form:not(.inline) {
    margin:3em;
    width:calc(100% - 6em);
  }
  div.only-message {
    padding:4em;
  }
  section#messages {
    margin-left:2em;
  }
  section#footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
  }
}

@media only screen and (max-width: 767px) {
  section#body {
    padding:8px;
    text-align:center;
  }
  section#body div.row,
  section#body form,
  section#body .libelle,
  section#body .value {
    display:block!important;
  }
  section#body .libelle {
    text-align:left!important;
  }
  section#body form {
    padding:2px!important;
    margin:unset!important;
  }
  section#header {
    text-align:center;
  }
  section#header div#header-tools {
    float:none;
    text-align:center;
  }
  form:not(.inline) {
    margin:2%;
    width:calc(100% - 4%);
  }

  div.only-message {
    padding:1em;
  }

  section#messages {
    margin-left:0;
  }

  section#footer {
    position:relative;
  }

}
