/*
*/
span.libelle {
  display:inline-block;
  padding:0 1em;
  color:#555555;
  font-size:0.9em;
  font-style:italic;
  text-align:right;
}
/*
  Pour un div contenant un message qui doit se trouver tout seul (ou presque)
  dans la page (section#content)
*/
div.only-message {
  margin:3% 5%;
  padding:4em;
  font-size:1.2em;
  text-align:center;
}

/*
  Les cadres-liens qui permettent de rejoindre les grosses parties dans
  chaque section
*/
div.goto {
  display:inline-block;
  position:relative;
  padding:1.5em;
  font-size:1.2;
  width:200px;
  min-width:200px;
  max-width:200px;
  text-align:center;
  margin-top:1em;
  margin-right:12px;
  color:white;
  border:1px solid;
}
div.goto:not(.exergue) {
  background-color:var(--fond-inner-object);
}
div.goto.exergue {
  background-color:var(--fond-exergue-inner-object);
}

div.goto:hover {
  background-color:#EEEEEE;
  border-color:rgb(42, 127, 168);
  transition:0.3s;
}
div.goto a {color:white}
div.goto:hover a {
  color:rgb(42, 127, 168);
  transition:0.3s;
}

div.goto span.pastille {
  position:absolute;
  top:-8px;
  right:-8px;
  border-radius:2em;
  display:inline-block;
  padding:6px;
  background-color:red!important;
  color:white!important;
  font-size:0.65em;
  width:18px;
  text-align:center;
  z-index:10;
}
div.goto:hover span.pastille {
  background-color:red!important;
  color:white!important;
}

/*
  Les tables des matières flottantes dans la page
*/
div.float-tdm {
  display:inline-block;
  width:auto;
  max-width:50%;
  border:1px solid var(--contre-color-normal);
  /* border:1px solid var(--dark-color-normal); */
  border-radius:1em;
  padding:1em 2em;
}

div.float-tdm:not(.left) {
  float:right;
  margin:3em 0 2em 3em;
}
div.float-tdm.left {
  margin:3em 3em 2em 0;
}
div.float-tdm > a {
  display:block;
  color: var(--contre-color-normal);
}
