div.state-list {
  position:relative;
  display:inline-block;
  border:1px solid #CCCCCC;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div.state-list {
    padding:1em 2em;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div.state-list {
    padding:1em 0;
  }
  div.state-list div.row span.value {
    margin-left:1em;
  }
}


div.state-list a.btn-modify {
  position:absolute;
  right:1em;
  top:8px;
  opacity:0.6;
}
div.state-list a.btn-modify:hover {
  opacity:1;
}

div.state-list.vert,
div.state-list.vert span.libelle {
  background-color: var(--fond-exergue-inner-object);
  color:black;
}

div.state-list div.row {
  display: inline-block;
  width:100%;
}

div.state-list div.row > span {
  display:inline-block;
}
div.state-list div.row span.libelle {
  font-size:0.85em;
  font-style:italic;
  opacity: 0.6;
  margin-right:12px;
  vertical-align:top;
  margin-top:3px;
}

div.state-list div.row span.libelle {
  width: 120px;
}
div.state-list.left div.row span.libelle {
  text-align:left!important;
}
div.state-list.medium div.row span.libelle {
  width: 180px;
}
div.state-list.large div.row span.libelle {
  width: 200px;
}

div.state-list div.row span.libelle:after {
  /* content:' :' */
}

div.state-list div.row span.value {

}
