body {
  font-family:Avenir;
  font-size:16pt;
  max-width: 1200px;
  margin:0;
  padding:0;
}

h2, h3, h4, h5 {
  font-weight: normal;
  color: var(--dark-color-normal);
  max-width: var(--text-max-width);
}
H3 {
  font-size: 1.6em;
  margin-top: 2.5em;
  margin-bottom:1.2em;
}
H4 {
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom:0.7em;
  border-style:solid;
  border-width:0 0 1px 1px;
  padding-left:0.5em;
}

h2.page-title {
  font-weight:normal;
  color:var(--dark-color-normal);
  font-size:1.7em;
  margin:0;
  margin-left:1em;
}

/* Les titres en général */
.titre {
  color:var(--dark-color-normal);
}

p, .p, ul.p li {
  text-align: justify;
  /* max-width: var(--text-max-width); */
  opacity:0.8;
}
ul.p {
  list-style: square;
}

ul {
  list-style:square;
}

strong, b {
  color: var(--dark-color-normal);
  font-weight:900;
}

fieldset {
  border-color:var(--lighter-color-normal);
  border-width:1px;
  border-radius:0.3em;
  margin-top: 2em;
}
fieldset legend {
  font-style:italic;
  color:var(--lighter-color-normal);
}

fieldset > fieldset {
  border:none;
  border-left:2px solid #555555;
  border-radius:none;
}
fieldset > fieldset > legend {
  font-size: 0.85em;
}

/* ---------------------------------------------------------------------

  SECTIONS PRÉCISES

--------------------------------------------------------------------- */

section#header {
  padding:4px 24px;
}
section#header:not(.home) {
  box-shadow:6px 6px 6px 1px #d2d2d2;
  margin-bottom:1em;
  background-color:var(--dark-color-normal);
}
section#header div#div-logo {
  font-size:1.4em;
  color:var(--inverse-dark-color-normal);
}
section#header div#div-logo a {
  color:var(--inverse-dark-color-normal);
}
section#header div#div-logo img#logo-papillon {
  width:40px;
  vertical-align:top;
}
section#header div#header-tools {
  float:right;
}
section#header div#header-tools a {
  font-family:Arial,Geneva,Helvetica;
  font-size:12.8pt;
  padding:5px 8px 3px;
  background-color:var(--lighter-color-normal);
  color:var(--inverse-lighter-color-normal);
  vertical-align:bottom;
}
section#header div#header-tools a:hover {
  background-color:#DDDDDD;
  color:var(--dark-color-normal);
  transition:0.3s;
}

/* Bloc indiquant dans l'entête le nombre de notifications non lues */
section#header div.notification-tool {
  float:right;
  display:inline-block;
  width:40px;
  text-align:right;
}

section#body {
  min-height:280px;
  margin-top:2em;
  margin-bottom: 10em;
}

section#body > * {
  max-width: var(--text-max-width);
}
section#body > fieldset {
  max-width: calc(var(--text-max-width) - 2em);
}

/* --- FOOTER --- */

section#footer {
  background-color:var(--dark-color-normal);
  color:white;
  margin-top:4em;
  padding:.5em 1em;
  margin-bottom:0;
}

pre#debug {
  margin:0;
  background-color:black;
  color:white;
  padding:1em;
  font-size:14.5pt;
  white-space:break-spaces;
}

/*
  LE PIED DE PAGE
*/
section#footer {
  text-align:center;
}
section#footer a {
  font-size:11.8pt;
  margin-right:1em;
  color:var(--inverse-dark-color-normal);
}

/*
  LES MESSAGES
*/
section#messages {}

section#messages > div {
  display:inline-block;
  padding:0 1em;
}
section#messages .errors {
  background-color:#FFCCCC;
  color:red;
}
section#messages .notices {
  background-color:#ccffcd;
  color:rgb(0, 136, 45);
}

div.citation {
  display:block;
  max-width:460px!important;
  font-size:0.9em;
  text-align:justify;
}
div.citation span.content {
  font-style:italic;
}
div.citation div.avertissement {
  font-size: 9pt;
  text-align:right;
}
