<div id="header-tools" class="">
  <%= tools_block_notifications %>
  <%= MAIN_LINKS[:aide] %>
  <%= MAIN_LINKS[user.guest? ? :login : :logout] %>
  <%= user.guest? ? MAIN_LINKS[:signup] : Tag.lien_bureau %>
</div>
