<p class="explication">Vous pouvez consulter la <%= politique_confidentialite %> pour tout savoir sur la protection et l’utilisation de vos données au sein de l’atelier Icare.</p>
<% if user.actif? %>
  <% if user.has_paiement? %>
    <% if user.paiement_overcomen? %>
      <%= vue_paiement %>
    <% else %>
      <p>Vous avez un paiement mais il n’est pas encore arrivé à échéance.</p>
    <% end %>
  <% else %>
    <p>Vous n’avez aucun module à payer pour le moment.</p>
  <% end %>
<% elsif user.inactif? %>
  <p>Vous n’avez pas de module en cours. Vous n’avez donc rien à régler.</p>
<% end %>
