<%
# frozen_string_literal: true
=begin
  Mail pour informer les concurrents que l'échéance est arrivée.
  Il s'agit ici des concurrents qui ont envoyé un fichier conforme.
=end
subject("[CONCOURS] Fin de l’échéance des dépôts")
%>
<p>Bonjour %{pseudo} !</p>
<p>L'échéance de fin des dépôts pour le <%= CONCOURS_LINK.with(text:"Concours de Synopsis de l'atelier Icare", full:true) %> touche à son terme.</p>
<p>Vous avez transmis un fichier de candidature conforme dans les temps, vous êtes donc en lice pour la présélection.</p>
<p>Nous vous remercions de votre participation.</p>
<p>Bonne chance à vous de tout cœur !</p>
<p>Bien cordialement,</p>
<p>L'administration de l'atelier Icare</p>
