<%# frozen_string_literal: true %>
<div id="checklist">
<div id="div--p" class="prop">
  <span class="prop-name">Évaluation générale du projet</span>
<select name="-p">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"><div id="div--p-g" class="prop">
  <span class="prop-name">Projet dans sa globalité</span>
<select name="-p-g">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-g-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-g-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-g-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-g-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"><div id="div--p-g-ti" class="prop">
  <span class="prop-name">Titre du projet</span>
<select name="-p-g-ti">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-g-ti-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-g-ti-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-g-ti-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-g-ti-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div--p-p" class="prop">
  <span class="prop-name">Les Personnages</span>
<select name="-p-p">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"><div id="div--p-p-prota" class="prop">
  <span class="prop-name">Le Protagoniste</span>
<select name="-p-p-prota">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-prota-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-prota-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-prota-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-prota-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-prota-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-prota-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-prota-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-prota-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-p-anta" class="prop">
  <span class="prop-name">L'Antagoniste</span>
<select name="-p-p-anta">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-anta-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-anta-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-anta-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-anta-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-anta-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-anta-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-anta-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-anta-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-p-psec" class="prop">
  <span class="prop-name">Les Personnages secondaires</span>
<select name="-p-p-psec">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-psec-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-psec-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-psec-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-psec-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-psec-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-psec-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-psec-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-psec-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-p-autp" class="prop">
  <span class="prop-name">Les autres personnages</span>
<select name="-p-p-autp">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-autp-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-autp-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-autp-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-autp-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-autp-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-autp-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-autp-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-autp-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-p-dials" class="prop">
  <span class="prop-name">Les Dialogues</span>
<select name="-p-p-dials">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-p-dials-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-p-dials-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-dials-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-p-dials-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-dials-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-p-dials-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-p-dials-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-p-dials-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div--p-i" class="prop">
  <span class="prop-name">Les Intrigues</span>
<select name="-p-i">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-i-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-i-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-i-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-i-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"><div id="div--p-i-form" class="prop">
  <span class="prop-name">Construction générale</span>
<select name="-p-i-form">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"></div>
  <div class="items"><div id="div--p-i-form-pfa" class="prop simple">
  <span class="prop-name">Usage des Scènes-clés (PFA)</span>
<select name="-p-i-form-pfa">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"></div>
  <div class="items"></div>
</div>
<div id="div--p-i-form-3acts" class="prop simple">
  <span class="prop-name">Clarté des 3 actes</span>
<select name="-p-i-form-3acts">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"></div>
  <div class="items"></div>
</div>
<div id="div--p-i-form-pvts" class="prop simple">
  <span class="prop-name">Qualité des charnières</span>
<select name="-p-i-form-pvts">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"></div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div--p-i-ip" class="prop">
  <span class="prop-name">L’Intrigue principale</span>
<select name="-p-i-ip">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-i-ip-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-i-ip-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-ip-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-i-ip-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-ip-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-ip-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-ip-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-i-ip-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-ip-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-ip-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-i-is" class="prop">
  <span class="prop-name">L’Intrigue secondaire</span>
<select name="-p-i-is">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-i-is-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-i-is-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-is-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-i-is-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-is-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-is-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-is-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-i-is-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-i-is-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-i-is-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div--p-th" class="prop">
  <span class="prop-name">Les Thèmes</span>
<select name="-p-th">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-th-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-th-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-th-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-th-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-th-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-th-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-th-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-th-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-th-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-th-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-r" class="prop">
  <span class="prop-name">La Rédaction</span>
<select name="-p-r">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"></div>
  <div class="items"><div id="div--p-r-cla" class="prop">
  <span class="prop-name">Clarté</span>
<select name="-p-r-cla">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-r-cla-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-r-cla-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-cla-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-r-cla-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-cla-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-cla-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-cla-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-r-cla-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-cla-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-cla-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-r-sim" class="prop">
  <span class="prop-name">Simplicité</span>
<select name="-p-r-sim">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-r-sim-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-r-sim-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-sim-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-r-sim-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-sim-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-sim-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-sim-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-r-sim-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-sim-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-sim-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
<div id="div--p-r-emo" class="prop">
  <span class="prop-name">Émotion</span>
<select name="-p-r-emo">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


  <div class="common-properties"><div id="div--p-r-emo-fO" class="subprop">
  <span class="prop-name">Facteur O</span>
<select name="-p-r-emo-fO">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-emo-fU" class="subprop">
  <span class="prop-name">Facteur U</span>
<select name="-p-r-emo-fU">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-emo-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-emo-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-emo-idio" class="subprop">
  <span class="prop-name">Idiosyncrasie</span>
<select name="-p-r-emo-idio">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
<div id="div--p-r-emo-cohe" class="subprop">
  <span class="prop-name">Cohérence</span>
<select name="-p-r-emo-cohe">
  <option value="">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>


</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
</div>
</div>

</div>
