<%
# Ce partiel est généré de façon automatique. NE PAS LE TOUCHER
%>

<div id="checklist">
  <form id="checklist-form" class="nopadding noborder nomargine" action="concours/evaluation" method="POST">
    <input type="hidden" name="synoid" id="synoid" value="<%=param(:synoid)%>" />
    <div id="div-po" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Évaluation générale du projet</span>
  <select name="po">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-ti" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Le Titre</span>
  <select name="po-ti">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-ti-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-ti-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-ti-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-ti-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-ti-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-ti-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-p" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les Personnages</span>
  <select name="po-p">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-p-prota" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Le Protagoniste</span>
  <select name="po-p-prota">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-prota-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-prota-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-prota-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-prota-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-prota-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-prota-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-prota-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-prota-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-prota-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-prota-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-p-anta" class="prop">
  <div class="line-note soft">
  <span class="prop-name">L'Antagoniste</span>
  <select name="po-p-anta">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-anta-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-anta-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-anta-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-anta-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-anta-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-anta-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-anta-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-anta-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-anta-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-anta-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-p-psec" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les Personnages secondaires</span>
  <select name="po-p-psec">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-psec-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-psec-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-psec-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-psec-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-psec-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-psec-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-psec-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-psec-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-psec-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-psec-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-p-autp" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les autres personnages</span>
  <select name="po-p-autp">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-autp-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-autp-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-autp-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-autp-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-autp-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-autp-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-autp-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-autp-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-autp-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-autp-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-p-dials" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les Dialogues</span>
  <select name="po-p-dials">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-p-dials-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-p-dials-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-dials-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-p-dials-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-dials-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-p-dials-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-dials-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-p-dials-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-p-dials-idio" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Idiosyncrasie</span>
  <select name="po-p-dials-idio">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div-po-f" class="prop withex">
  <div class="expli hidden">Note définissant l'impression générale sur la forme de l'histoire (proportionnée, bancale, etc.)<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">La Forme (structure)</span>
  <select name="po-f">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-f-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-f-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-f-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-f-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-f-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-f-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-f-pfa" class="prop simple withex">
  <div class="expli hidden">Cette note concerne l'utilisation des scènes-clés (*) et leur pertinence dans le fonctionnement de la structure.<br/>(*) incident perturbateur, incident déclencheur, pivot 1 et 2, clé de voûte, crise, climax.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Usage des Scènes-clés</span>
  <select name="po-f-pfa">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"></div>
  <div class="items"></div>
</div>
<div id="div-po-f-3acts" class="prop simple">
  <div class="line-note deep">
  <span class="prop-name">Clarté des 3 actes</span>
  <select name="po-f-3acts">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"></div>
  <div class="items"></div>
</div>
<div id="div-po-f-foncact" class="prop simple withex">
  <div class="expli hidden">Plus la fonction des trois actes est respectées et plus la note peut être élevée.<br/>L'EXPOSITION : doit présenter l'arêne, le protagoniste, l'enjeu, la QDF.<br/>Le DÉVELOPPEMENT : doit montre le personnage en train d'essayer d'atteindre son objectif.<br/>Le DÉNOUEMENT : doit conduire à la conclusion et montrer notamment la confrontation entre les forces protagonistes et antagonistes.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Fonction des actes</span>
  <select name="po-f-foncact">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"></div>
  <div class="items"></div>
</div>
<div id="div-po-f-pvts" class="prop simple withex">
  <div class="expli hidden">Cette note est attribuée en fonction de la qualité des scènes qui font basculer dans le développement d'avoir (lancement de l'action proprement dite) puis dans le dénouement (partie qui conduira au climax).<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Qualité des charnières</span>
  <select name="po-f-pvts">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"></div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div-po-i" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les Intrigues</span>
  <select name="po-i">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-i-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-i-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-i-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-i-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-i-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-menee" class="subprop withex">
  <div class="expli hidden">Mieux l’intrigue semble menée et plus la note doit être forte.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Conduite</span>
  <select name="po-i-menee">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-predic" class="subprop withex">
  <div class="expli hidden">Plus l’intrigue est prédictible, prévisible, et plus cette note doit être faible.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Non prédictibilité</span>
  <select name="po-i-predic">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-i-mainint" class="prop">
  <div class="line-note deep">
  <span class="prop-name">L’Intrigue principale</span>
  <select name="po-i-mainint">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-i-mainint-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur O</span>
  <select name="po-i-mainint-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-mainint-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur U</span>
  <select name="po-i-mainint-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-mainint-adth" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-i-mainint-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-mainint-cohe" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Cohérence</span>
  <select name="po-i-mainint-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-mainint-menee" class="subprop withex">
  <div class="expli hidden">Mieux l’intrigue semble menée et plus la note doit être forte.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Conduite</span>
  <select name="po-i-mainint-menee">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-mainint-predic" class="subprop withex">
  <div class="expli hidden">Plus l’intrigue est prédictible, prévisible, et plus cette note doit être faible.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Non prédictibilité</span>
  <select name="po-i-mainint-predic">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-i-secint" class="prop">
  <div class="line-note soft">
  <span class="prop-name">L’Intrigue secondaire</span>
  <select name="po-i-secint">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-i-secint-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-i-secint-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-secint-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-i-secint-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-secint-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-i-secint-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-secint-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-i-secint-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-secint-menee" class="subprop withex">
  <div class="expli hidden">Mieux l’intrigue semble menée et plus la note doit être forte.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Conduite</span>
  <select name="po-i-secint-menee">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-secint-predic" class="subprop withex">
  <div class="expli hidden">Plus l’intrigue est prédictible, prévisible, et plus cette note doit être faible.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Non prédictibilité</span>
  <select name="po-i-secint-predic">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-i-autint" class="prop">
  <div class="line-note deep">
  <span class="prop-name">Les autres intrigues</span>
  <select name="po-i-autint">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-i-autint-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur O</span>
  <select name="po-i-autint-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-autint-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur U</span>
  <select name="po-i-autint-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-autint-adth" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-i-autint-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-autint-cohe" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Cohérence</span>
  <select name="po-i-autint-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-autint-menee" class="subprop withex">
  <div class="expli hidden">Mieux l’intrigue semble menée et plus la note doit être forte.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Conduite</span>
  <select name="po-i-autint-menee">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-i-autint-predic" class="subprop withex">
  <div class="expli hidden">Plus l’intrigue est prédictible, prévisible, et plus cette note doit être faible.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Non prédictibilité</span>
  <select name="po-i-autint-predic">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div-po-t" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Les Thèmes</span>
  <select name="po-t">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-t-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-t-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-t-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-t-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-cla" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Clarté</span>
  <select name="po-t-cla">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-cohe" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Cohérence</span>
  <select name="po-t-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-antithese" class="subprop withex">
  <div class="expli hidden">Traitement de l'équilibre du thème par la présence de son antithèse.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Antithèse</span>
  <select name="po-t-antithese">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-t-thprinc" class="prop">
  <div class="line-note deep">
  <span class="prop-name">Thème principal</span>
  <select name="po-t-thprinc">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-t-thprinc-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur O</span>
  <select name="po-t-thprinc-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thprinc-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur U</span>
  <select name="po-t-thprinc-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thprinc-adth" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-t-thprinc-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thprinc-cla" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Clarté</span>
  <select name="po-t-thprinc-cla">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thprinc-cohe" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Cohérence</span>
  <select name="po-t-thprinc-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thprinc-antithese" class="subprop withex">
  <div class="expli hidden">Traitement de l'équilibre du thème par la présence de son antithèse.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Antithèse</span>
  <select name="po-t-thprinc-antithese">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-t-thsec" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Thème secondaire</span>
  <select name="po-t-thsec">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-t-thsec-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-t-thsec-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thsec-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-t-thsec-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thsec-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-t-thsec-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thsec-cla" class="subprop">
  <div class="line-note soft">
  <span class="prop-name">Clarté</span>
  <select name="po-t-thsec-cla">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thsec-cohe" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Cohérence</span>
  <select name="po-t-thsec-cohe">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-t-thsec-antithese" class="subprop withex">
  <div class="expli hidden">Traitement de l'équilibre du thème par la présence de son antithèse.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Antithèse</span>
  <select name="po-t-thsec-antithese">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div-po-r" class="prop">
  <div class="line-note deep">
  <span class="prop-name">La Rédaction</span>
  <select name="po-r">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"></div>
  <div class="items"><div id="div-po-r-cla" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Clarté</span>
  <select name="po-r-cla">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-r-cla-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-r-cla-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-r-cla-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-r-cla-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"><div id="div-po-r-cla-ortho" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Orthographe & grammaire</span>
  <select name="po-r-cla-ortho">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-r-cla-ortho-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-r-cla-ortho-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-ortho-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-r-cla-ortho-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-ortho-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-r-cla-ortho-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-r-cla-style" class="prop">
  <div class="line-note soft">
  <span class="prop-name">Maitrise de la langue (style)</span>
  <select name="po-r-cla-style">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-r-cla-style-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-r-cla-style-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-style-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-r-cla-style-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-cla-style-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-r-cla-style-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
<div id="div-po-r-sim" class="prop withex">
  <div class="expli hidden">La simplicité dans l'écriture, en tant que qualité.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Simplicité</span>
  <select name="po-r-sim">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-r-sim-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-r-sim-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-sim-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-r-sim-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-sim-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-r-sim-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
<div id="div-po-r-emo" class="prop withex">
  <div class="expli hidden">Qualité de l'écriture à faire ressortir les émotions de l'histoire.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Émotion</span>
  <select name="po-r-emo">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

  <div class="common-properties"><div id="div-po-r-emo-fO" class="subprop withex">
  <div class="expli hidden">Facteur d'originalité, la “quantité” d'originalité pour l'élément ci-dessus.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note deep">
  <span class="prop-name">Facteur O</span>
  <select name="po-r-emo-fO">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-emo-fU" class="subprop withex">
  <div class="expli hidden">Facteur d'universalité de l'élément ci-dessus, caractère de ce qui est commun à beaucoup de gens et de choses.<div style="font-size:0.85em;text-align:right;">(cliquez sur ce texte pour le faire disparaitre)</div></div>
  <div class="line-note soft">
  <span class="prop-name">Facteur U</span>
  <select name="po-r-emo-fU">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
<div id="div-po-r-emo-adth" class="subprop">
  <div class="line-note deep">
  <span class="prop-name">Adéquation avec le thème</span>
  <select name="po-r-emo-adth">
  <option value="-">  -  </option>
  <option value="5">Excellent</option>
  <option value="4">Bon</option>
  <option value="3">Moyen</option>
  <option value="2">Faible</option>
  <option value="1">Bas</option>
  <option value="0">Nul</option>
</select>

</div>

</div>
</div>
  <div class="items"></div>
</div>
</div>
</div>
</div>
</div>

  </form>
  <div id="row-buttons">
    <div id="checklist-gauge-container"><span id="checklist-gauge"><span class="value"></span></span></div>
    <button type="button" id="btn-only-undone" class="small btn fleft">Questions non faites</button>
    <button type="button" id="btn-see-all" class="small btn fleft discret">Toutes les questions</button>
    <button type="button" id="btn-save" class="btn main">Enregistrer</button>
  </div>
</div>
