<form id="notes-manuelles">
  <span class="libelle">Catérogie : </span><select id="note-manuelle-categorie">__OPTIONS__</select>
  <textarea id="note-manuelle-content" rows="20" style="width:100%" placeholder="Texte en markdown de la note"></textarea>
  <div class="buttons right">
    <div class="explication fleft">
      Cette note sera ajoutée à la fiche de lecture dans la catégorie choisie.
    </div>
    <button type="button" id="btn-save-note-manuelle" class="btn">Enregistrer</button>
  </div>
</form>
