<p class='explication'>Chaque année, l'atelier Icare organise un concours d'écriture ouvert à toutes et tous, auteur·e·s de langue française. Ce concours offre l'opportunité à trois gagnant·e·s d'intégrer l'atelier pour suivre jusqu'à un an d'accompagnement à l'écriture.</p>

<%= bouton_formulaire %>

<h3>Objet du concours</h3>

<p>Pour cette première édition, il s'agira d'écrire le SYNOPSIS d'une histoire destinée au cinéma, au roman ou à la BD, en respectant les contraintes présentées ci-dessous.</p>

<h3>Les trois premiers Prix</h3>

<li>Premier Prix : un an de suivi de développement au sein de l'atelier en suivi intensif (d'une valeur de 1380€) (*)</li>
<li>Deuxième Prix : un an de suivi de développement au sein de l'atelier en suivi normal (d'une valeur de 900€) (*) </li>
<li>Troisième Prix : deux modules de coaching intensif (d'une valeur de 400€)</li>

<p class="small">(*) Noter que l'histoire développée au cours de ces modules ne sera pas nécessairement celle présentée pour le concours. L’auteur·e aura toute latitude pour choisir celle qu'elle ou il voudra développer.</p>

<h3>Thème</h3>

<p>Le thème choisi pour cette première session sera L'ACCIDENT. Avant l'accident, après l'accident, pendant l'accident, accident de la route ou de caddie, accident involontaire ou provoqué, peu importe le temps, le lieu, la durée choisis, l'histoire présentée dans le synopsis devra s'articuler autour d'un accident.</p>

<h3>Contraintes</h3>

<ul>
  <li>Longueur minimale : 500 signes / 80 mots</li>
  <li>longueur maximale : 3000 signes / 500 mots</li>
</ul>

<h3>Détails</h3>

<p>Vous trouverez tous les détails et les questions les plus fréquentes dans les parties suivantes.</p>

<p>Bonne chance à vous !</p>

<h3>Faq</h3>
<p class="question">Doit-on développer le projet qui a remporté le concours ?</p>
<p class="reponse">Non, il n'y a aucune obligation dans ce sens. Le concours permet de gagner un temps de développement à l'atelier avec le projet de son choix.</p>

<p class="question">Peut-on participer quand on est icarienne ou icarien ?</p>
<p class="reponse">Bien entendu ! :-D</p>
