<%# frozen_string_literal: true %>
<p>Bonjour %{patronyme},</p>
<p>Vous venez de participer à la session <%= ANNEE_CONCOURS_COURANTE - 1 %> du <%= CONCOURS_LINK.with(absolute:true, online:true) %>.</p>
<p>Un grand merci à vous pour votre participation !</p>
<p>Nous serons heureux de vous retrouver l'année prochaine (nous vous informerons du lancement du prochain concours).</p>
<p>Bien à vous, encore merci,</p>
<p>L’Administration de l'atelier Icare</p>
