<div class="float-tdm">
  
  <a href="overview/home" target="_self">Description de l’atelier</a><a href="overview/phil" target="_self">Philippe Perret, pédagogue de l’atelier</a><a href="overview/reussites" class="current" target="_self">Les belles réussites</a><a href="overview/temoignages" target="_self">Témoignages d’icarien·ne·s</a><a href="overview/parcours" target="_self">Parcours fictif de 3 icarien·ne·s</a><a href="overview/raisons" target="_self">Les dix bonnes raisons de choisir l’atelier Icare</a><a href="overview/policy" target="_self">Politique de confidentialité des données</a><a href="overview/activity" target="_self">Activité au jour le jour</a>
</div>
<div class="div-reussite p">
  <div class="date">sept. 2020</div>
  <div class="content">Après sa sélection parmi les 10 finalistes du concours de Pitch de l'association <a href="https://www.facebook.com/Association-Art-Culture-et-Équité-164853630905578/">Art Culture et Équité</a>, <strong>Jonathan Angoin</strong> <a href="https://www.facebook.com/permalink.php?story_fbid=694066691317600&id=164853630905578">obtient le Prix du Jury</a>. Un grand bravo à lui !</div>
</div>
<div class="div-reussite p">
  <div class="date">oct. 2020</div>
  <div class="content"><a href="https://www.facebook.com/pg/apibeurzdé-178261393091617/" target="_blank">APIBEURZDÉ</a>, le court-métrage de <b>Basile Charpentier</b> (alias BezBizBouz à l'atelier) produit par la société indépendante <a href="https://hybridfilms.fr" target="_blank">Hybrid Film</a> sort sur <a href="https://www.ocs.fr/programme/apibeurzdexw0164327?fbclid=IwAR1pGiHNkUwpfjDAXxkpI70wzGkLvbg8HMTMdhsBjgXUI15uyQA3B0sdDLU" target="_blank">OCS</a> ! Bravo à lui !</div>
</div>
<div class="div-reussite p">
  <div class="date">juin 2020</div>
  <div class="content">Le manuscrit du roman jeunesse de <strong>Pascal Roy</strong> intitulé <span class="titre">VICTOR D’ABOVILLE ET L'ILE DES PASSE-MURAILLES</span> vient de passer le premier comité de lecture des éditions Milan - Bonne chance à lui pour la suite -</div>
</div>
<div class="div-reussite p">
  <div class="date">nov - 2019</div>
  <div class="content">sélection du film <strong><em>MADJID ET LAURA</em></strong> de <strong>khajag soudjian</strong> (alias <em>travis</em>) au <a href="http://pomegranatefilmfestival.com/films/madjid-and-laura/">pomegranate film festival 2019</a> de toronto - bonne chance à lui </div>
</div>
<div class="div-reussite p">
  <div class="date">sept - 2019</div>
  <div class="content"><b>Basile Charpentier</b> prépare le tournage de son prochain film, <b><em>apibeurzdé</em></b> - vous pouvez suivre son développement sur sa <a href="https://www.facebook.com/pg/apibeurzdé-178261393091617/" target="_blank">page facebook</a></div>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2019</div>
  <div class="content"><trong>khajag soudjian</strong> (alias <em>travis</em>) achève la réalisation de son film <strong><em>madjid et laura</em></strong> développé au sein de l'atelier - « merde » à lui pour sa première projection publique, le <span class="small">29</span> !</div>
</div>
<div class="div-reussite p">
  <div class="date">aout - 2018</div>
  <div class="content"><b>solaris</b> voit son premier roman sf, <a href="http://assyelle.com/titre-aube" target="_new" class="bold">l'aube des transhumains</a>, publié à compte d’éditeur aux <a href="http://assyelle.com/index.htm" class="bold">éditions assyelle</a> sous le pseudonyme <b>éric malhander</b> -</div>
</div>
<div class="div-reussite p">
  <div class="date">mai - 2018</div>
  <div class="content">tournage du long métrage <b>walter</b> co-écrit et réalisé par <a href="http://varantesoudjian.com" target="_blank" class="bold">varante soudjian</a> (<em>pitrechevalier</em> à l’atelier), produit par <b>farid lahouassa</b> pour <a href="http://www.vertigoproductions.com.au" target="_blank">vertigo productions</a> avec notamment <a href="https://fr.wikipedia.org/wiki/alban_ivanov" target="_blank" class="bold">alban ivanov</a> dans un des rôles principaux</div>
</div>
<div class="div-reussite p">
  <div class="date">mai - 2018</div>
  <div class="content">tournage du moyen métrage <b>libre arbitre</b> co-écrit et réalisé par <b>pascal roy</b> (<em>psyneaste</em> à l’atelier) avec notamment <a href="https://fr.wikipedia.org/wiki/sam_karmann" target="_blank" class="bold">sam karmann</a> dans un des rôles principaux (<b>phil</b> est le second co-auteur de ce film) -</div>
</div>
<div class="div-reussite p">
  <div class="date">mars - 2018</div>
  <div class="content">la série <titre>rasta pizza</titre>, développée à l’atelier par <b>karine mazeau</b> (alias <em>karine</em>) est sélectionnée par la <a href="https://www.maisondesscenaristes.org" target="_blank">maison des scénaristes</a> et <a href="https://www.wefilmgood.com" target="_blank">wefilmgood</a> pour une rencontre avec des producteurs à l’occasion de la session <span class="small">2018</span> du <a href="https://seriesmania.com/fr" target="_blank" class="bold">festival séries mania</a> de lille -</div>
</div>
<div class="div-reussite p">
  <div class="date">sept - 2016</div>
  <div class="content">lancement du tournage du film <a href="https://www.facebook.com/lecorpsdesvieux/" target="_blank" class="bold" style="font-variant:small-caps;font-size:1.2em">le corps des vieux</a> écrit par <b>basile charpentier</b> (alias <em>bezbizbouz</em>), produit par <a href="https://www.facebook.com/hybridfilmsfr/" target="_blank" class="bold">hybrid films</a> et réalisé par <b>louise de premonville</b> -</div>
</div>
<div class="div-reussite p">
  <div class="date">jan - 2016</div>
  <div class="content"><b>gilad carmel</b> (alias <em>samuel</em>) réussit le concours d'entrée à l’<a href="http://www.femis.fr/presentation-fc-atelier-scenario" target="_new">atelier scénario de la fémis</a>, parmi <span class="small">21</span> candidats retenus, avec son scénario <b>touch</b> développé au sein de l'atelier icare -</div>
</div>
<div class="div-reussite p">
  <div class="date">sept - 2015</div>
  <div class="content">l'atelier est heureux d'annoncer la participation de <b>pascal roy</b> (<i>psyneaste</i>) au <b>jury du </b><a href="http://www.festivalregardscroises.com/edition2015/le-jury/" target="_newt" class='bold'>festival «&nbsp;regards croisés&nbsp;»</a> présidé par <b>patrice leconte</b>, festival dont pascal aura l'honneur de faire l'ouverture en octobre prochain avec son court-métrage <b>corps solidaires</b> (développé au sein de l'atelier) -</div>
</div>
<div class="div-reussite p">
  <div class="date">juil - 2015</div>
  <div class="content"><b>guillaume</b> est sélectionné parmi les <span class="small">12</span> auteurs retenus pour le <b>master 2 de scénarisation de nanterre</b> - un grand bravo à lui&nbsp;!</div>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2015</div>
  <div class="content"><b>guillaume</b> est retenu parmi les <span class="small">20</span> finalistes du concours d'entrée du <b>master II scénario - écriture audiovisuelle de nanterre</b> -</div>
</div>
<div class="div-reussite p">
  <div class="date">avr - 2015</div>
  <div class="content">sélection du scénario <b>appassionato</b> (<em>psyneaste</em> / <em>phil</em>) pour le <a href="">festival de brives <span class="small">2015</span></a> -</div>
</div>
<div class="div-reussite p">
  <div class="date">déc - 2014</div>
  <div class="content">la production est lancée pour le scénario <b>appassionato</b> co-écrit par <b>pascal roy</b> (alias <em>psyneaste</em> à l'atelier) et <b>phil</b> - suite au coup de cœur de trois productions intéressantes, c'est finalement sur <a href="http://www.lesfilmsduclan.com" target="_blank">les films du clan</a> que pascal a porté sa préférence - tournage prévu courant <span class="small">2015</span> (<i>ce sera le deuxième scénario de pascal réalisé au sein de l'atelier</i>) -</div>
</div>
<div class="div-reussite p">
  <div class="date">nov - 2014</div>
  <div class="content"><b>dominique désormière</b> (alias <em>deso</em>) publie à compte d'auteur son roman <b>inhumanitaire</b> tiré du scénario de long-métrage qu'elle a développé au sein de l'atelier icare -</div>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2014</div>
  <div class="content"><b>guillaume</b> manque de très peu son entrée au <a href='http://www.ceea.edu/index.php' target='_blank'>ceea</a> après un “troisième tour” organisé exceptionnellement cette année pour une poignée de candidats “dans la balance” -</div>
</div>
<div class="div-reussite p">
  <div class="date">mai - 2014</div>
  <div class="content"><b>basile carpentier</b> (<em>alias bezbizbouz</em> à l'atelier) signe son premier contrat d'option et se lance dans la ré-écriture de son projet avec la réalisatrice intéressée par le projet, <a href='http://www.unifrance.org/annuaires/personne/330845/louise-de-premonville' target='new'>louise de prémonville</a> -</div>
</div>
<div class="div-reussite p">
  <div class="date">mai - 2014</div>
  <div class="content"><a href='http://www.festival-cannes.com/fr.html' target='new'>festival de cannes <span class="small">2014</span></a> : sélection du scénario de court-métrage <b>appassionato</b> co-écrit par <b>pascal roy</b> (alias <em>psyneaste</em>) et <b>phil</b> pour une présentation-rencontre avec les producteurs au <a href='http://www.maisondesscenaristes.org/?p=788' target='new'>pavillon international des scénaristes</a> -</div>
</div>
<div class="div-reussite p">
  <div class="date">mars - 2014</div>
  <div class="content">sélection de <b>guillaume</b> pour le <span class="small">2</span>e tour du <a href='http://www.ceea.edu/index.php' target='_blank'>ceea</a> - bonne chance à lui&nbsp;!</div>
</div>
<div class="div-reussite p">
  <div class="date">mars - 2013</div>
  <div class="content"><b>sélection de basile charpentier</b> (<em>alias “bezbizbouz”</em>) au premier tour du concours d'entrée du <a href='http://www.ceea.edu/index.php' target='_blank'>ceea (conservatoire européen d'écriture audiovisuelle)</a></div>
</div>
<div class="div-reussite p">
  <div class="date">sept - 2012</div>
  <div class="content"><b>prix du meilleur scénario</b> au <a href='http://cinemaregion.fr' target='_blank'>festival national du film de hyères</a> remporté par le film <b><a href='http://www.unifrance.org/film/33565/corps-solidaires' target='_blank' class='gras'>corps solidaires</a></b> de <b>pascal roy</b>, <em>alias psyneaste</em> (qui a développé son projet au sein de l'atelier en module “suivi de projet”) -</div>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2012</div>
  <div class="content">publication du livre pour enfant <a href="http://www.amazon.fr/le-sel-vie-l%c3%a9gende-dorgon/dp/1090461046" target="_new" class='bold'>le sel de la vie</a> écrit par <b>hélène grosso</b> (alias <em>ysabel</em>) d'après le scénario éponyme développé au sein de l'atelier -</div>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2012</div>
  <div class="content"><p>le film <a href='http://www.unifrance.org/film/33565/corps-solidaires' target='_blank' class='gras'>corps solidaires</a> de <b>pascal roy</b> (<em>alias psyneaste</em>) poursuit vaillamment sa route - après un achat de france télévision et un passage au festival de clermont-ferrand, le film vient d'être sélectionné par…</p> <ul style='list-style:none;'> <li>le <a href='http://www.psfilmfest.org/festival/film/detail.aspx?id=23516&fid=59' target='_blank' class='gras'>palm springs international shortfest (usa)</a> <br />(sous le titre <b>touch me</b>)</li> <li>le <a href='http://festival-resistances.fr/' target='_blank' class='gras'>festival résistance<span style='color:red;'>s</span> <span class="small">2012</span> (france/tarn)</a></li> <li>le <a href='http://www.oe5ydl.info/erich/fdn/englisch/' target='_blank' class='gras'>festival des nations <span class="small">201é</span> à ebensee (autriche)</a></li> </ul> <p>on croise les doigts pour que le film de paco revienne avec tous les honneurs qu'il mérite, mais, surtout, qu'il soit apprécié à sa juste valeur par un public nombreux et enthousiaste !</p></div>
</div>
<div class="div-reussite p">
  <div class="date">déc - 2011</div>
  <div class="content"><p> sélection au <a href='http://www.clermont-filmfest.com' target='new'>festival de clermont-ferrand</a> du court-métrage <b>corps solidaires</b> de <b>pascal roy</b> (alias “psyneaste”) produit par <a href='http://www.ctonfilm.fr/' target='_blank'>c&nbsp;ton&nbsp;film</a> (<em>court-métrage dont le scénario a été développé par pascal au sein de l'atelier en module “suivi de projet”</em>) </p><p>on croise les doigts pour que ce film poursuive sa (déjà) longue route&nbsp;!</p></div>
</div>
<div class="div-reussite p">
  <div class="date">juil - 2011</div>
  <div class="content"><b>fin de tournage</b> du court-métrage <b>corps solidaires</b> de <b>pascal roy</b> (<em>alias “psyneaste”</em>) (produit par <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>c&nbsp;ton&nbsp;film</a>) -</div>
</div>
<div class="div-reussite p">
  <div class="date">mars - 2011</div>
  <div class="content"><p><b>pascal roy</b> (<em>alias “psyneaste”</em>) obtient pour <b>corps solidaires</b> le financement maximum, à l'unanimité, de <a href='http://www.pictanovo.com' target='new'>la région nord-pas de calais (crrav)</a> -</p> <p class='italic'>le film, dont le scénario a été développé au sein de l'atelier en module “suivi de projet”, est produit par la société <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>c&nbsp;ton&nbsp;film</a> -</p></div>
</div>
<div class="div-reussite p">
  <div class="date">jan - 2011</div>
  <div class="content"><b>jessica</b> (<em>alias clochette</em>) remporte la dernière étape du <a href='http://www.assodesfalaises.com/evenements.html' target='_new' style='font-weight:bold;'>concours de synopsis d'orgon</a> organisé par l'association des <a href='http://www.assodesfalaises.com' target='_new'>lézards des falaises</a> avec son scénario <b>reflets orgonnais</b>, scénario développé au sein de l'atelier en module “suivi de projet” -</div>
</div>
<div class="div-reussite p">
  <div class="date">déc - 2010</div>
  <div class="content"><b>suzanne</b> (<em>alias suzelit</em>), <b>hélène</b> (<em>alias ysabelle</em>) et <b>jessica</b> (<em>alias clochette</em>) ont vu leur synopsis sélectionné pour le <a href='http://www.assodesfalaises.com/evenements.html' target='_new' style='font-weight:bold;'>concours de synopsis d'orgon</a> organisé par l'association des <a href='http://www.assodesfalaises.com' target='_new'>lézards des falaises</a> -</div>
</div>
<div class="div-reussite p">
  <div class="date">nov - 2010</div>
  <div class="content"><p><b>pascal roy</b> (<em>alias psyneaste</em>) signe avec la maison de production <a href='http://www.ctonfilm.fr/' target='_blank' class='gras'>c ton film</a> pour son scénario <b>corps solidaires</b> développé au sein de l'atelier en module “suivi de projet” -</p><p>un grand bravo à lui&nbsp;!</p></div>
</div>
<div class="div-reussite p">
  <div class="date">oct - 2010</div>
  <div class="content">pré-sélection du scénario <b>corps solidaires</b> de <b>pascal roy</b> (<em>alias psyneaste</em>) pour la deuxième bourse du <a href='http://www.festcourt-villeurbanne.com' target='new'>festival de villeurbanne <span class="small">2010</span></a> - un grand bravo à lui&nbsp;!</div>
</div>
<div class="div-reussite p">
  <div class="date">aout - 2010</div>
  <div class="content"><b>samuel</b>, réalisateur et monteur, achève le scénario de son court-métrage <b>je suis calme</b> développé depuis novembre <span class="small">2009</span> au sein de l'atelier en module “suivi de projet” - il se lance dans le long périple de sa production - bonne chance à lui&nbsp;!</div>
</div>
<div class="div-reussite p">
  <div class="date">aout - 2010</div>
  <div class="content"><b>pascal roy</b> (<em>alias psyneaste</em>) achève la version finale de son court-métrage <b>corps solidaire</b> développé depuis février <span class="small">2010</span> au sein de l'atelier en module “suivi de projet” - il se lance dans le périple de sa production - bonne chance à lui&nbsp;!</div>
</div>
<div class="float-tdm">
  
  <a href="overview/home" target="_self">Description de l’atelier</a><a href="overview/phil" target="_self">Philippe Perret, pédagogue de l’atelier</a><a href="overview/reussites" class="current" target="_self">Les belles réussites</a><a href="overview/temoignages" target="_self">Témoignages d’icarien·ne·s</a><a href="overview/parcours" target="_self">Parcours fictif de 3 icarien·ne·s</a><a href="overview/raisons" target="_self">Les dix bonnes raisons de choisir l’atelier Icare</a><a href="overview/policy" target="_self">Politique de confidentialité des données</a><a href="overview/activity" target="_self">Activité au jour le jour</a>
</div>
<div class="div-reussite p">
  <div class="date">juin - 2010</div>
  <div class="content"><p><b>jean-michel</b> <span class="small">(*)</span> pousse le premier les portes de ce “hall of fame” en réussissant brillamment le <b>concours d'entrée au </b><a href='http://www.ceea.edu/index.php' target='_blank'><b>ceea</b> (conservatoire européen d'écriture audiovisuelle)</a> - pour cette session <span class="small">2010</span>, <span class="small">12</span> candidats (sur <span class="small">14</span> places disponibles) ont été retenus parmi les <span class="small">250</span> inscrits - un grand bravo à lui&nbsp;!</p> <p class='italic'><span class="small">(*)</span> jean-michel, alias “michel”, a suivi au sein de l'atelier les trois modules “structure”, “personnage” et “thématique” -</p></div>
</div>
<div class="div-reussite p">
  <div class="date">fév - 2008</div>
  <div class="content">ouverture de l'atelier icare.</div>
</div>
