div#checklist {
  /* position:absolute; */
  position:fixed;
  top:0px;
  left:calc(50% - 250px);
  padding:1em;
  border:1px solid;
  box-shadow: 8px 8px 21px 7px #DDD;
  z-index:2;
  /* TODO : régler dimensions (titre et bouton) et faire réglage automatique */
}
div#checklist div.div-titre {
  position:relative;
}
div#checklist div.div-titre span.closebox {
  position:absolute;
  right:0px;top:0px;
  width:16px;height:16px;
  border-radius:16px;
  background-color:red;
  color:red;
  cursor:pointer;
}

div#checklist, div#checklist form {
  background-color:#EEE;
}
div#checklist select {
  /* border:none!important; */
  float:right;
  border-color:#DDD!important;
  font-size:12pt!important;
}

div#checklist .titre {
  font-variant:small-caps;
  font-size:1.2em;
}

div#checklist form {
  overflow: auto;
  width:500px;
  height:600px;
}
div#checklist form div.prop,
div#checklist form div.subprop
{
  position:relative;
}
div#checklist form div.withex div.line-note span.prop-name {
  cursor:help;
}
div#checklist form div.withex div.line-note span.prop-name:after {
  content: "?";
  font-size: 11pt;
  background: green;
  color: white;
  padding: 0 4px;
  border-radius: 6px;
  margin-left: 4px;
  opacity:0.3;
}
div#checklist form div.withex:hover div.line-note span.prop-name:after {
  opacity:1;
}

div#checklist form div.withex div.expli {
  position:absolute;
  font-size:13pt;
  background-color:green;
  color:white;
  padding:0.5em;
  top:-20px; left:-20px;
  cursor:pointer;
  z-index:10;
}
div#checklist form div.line-note {
  clear:both;
}
div#checklist form div.line-note.deep {
  background-color: rgba(181, 226, 255, 0.33);
}
div#checklist form div.line-note.deep.undone {
  background-color: rgba(255, 177, 182, 1);
}
div#checklist form div.line-note.soft {
  background-color: rgb(231, 255, 241);
}
div#checklist form div.line-note.soft.undone {
  background-color: rgba(255, 177, 182, 0.24);
}

div#checklist div#row-buttons {
  height:40px;
  text-align:right;
}

/* JAUGE D'AVANCÉE */
div#checklist div#checklist-gauge-container {
  position:relative;
  padding:0;margin:0;
  width:100%;
  height:10px;
  background-color:red;
}
div#checklist div#checklist-gauge-container span#checklist-gauge {
  position:absolute;
  display:inline-block;
  top:0;left:0;
  height:10px;
  background-color:green;
}
div#checklist div#checklist-gauge-container span#checklist-gauge span.value {
  position:absolute;
  right:-4px;
  top:-16px;
  font-size:10pt;
  font-family:"Arial Narrow",Georgia,serif;
}
