/*
  *** Fiche de lecture ***
*/
div.fiche-lecture {
  border:1px solid;
  margin-bottom: 1em;
}

div.fiche-lecture:not(.exergue) {
  transition:0.5;
  opacity:0.6;
}
div.fiche-lecture.exergue {
  transition:0.5;
  opacity:1;
}
div.fiche-lecture div.header {
  margin-top:1em;
  margin-bottom:1em;
}
div.fiche-lecture div.grand-titre,
div.fiche-lecture div.div-annee
{
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 20pt;
  font-family:Arial, Helvetica, Geneva, serif;
  text-align: center;
}

/* INFOS DU PROJET */

div.fiche-lecture div.infos-projet {
  border:1px solid #CCC;
  padding:1em 0 2em;
  display:grid;
  grid-template-columns: auto 240px;
  grid-template-rows: auto;
}
div.fiche-lecture div.infos-projet div.projet-titre {
  grid-column:1;
  grid-row:1;
  text-align:center;
}
div.fiche-lecture:not(.exergue) div.infos-projet div.projet-titre div.titre {
  font-size:1.5rem;
  font-weight:bold;
}
div.fiche-lecture.exergue div.infos-projet div.projet-titre div.titre {
  font-size:2.5rem;
}
div.fiche-lecture:not(.exergue) div.infos-projet div.projet-titre div.auteur {
  font-size:0.6rem;
}
div.fiche-lecture.exergue div.infos-projet div.projet-titre div.auteur {
  font-size:1rem;
}
div.fiche-lecture div.infos-projet div.note-totale {
  grid-column:2;
  grid-row:1;
  text-align:center;
  font-size: 30pt;
}
div.fiche-lecture div.infos-projet div.note-totale div.note {font-size:30pt}
div.fiche-lecture div.infos-projet div.note-totale div.position {
  font-size:20pt;
}

/* *** APPRÉCIATION GLOBALE *** */

/* div.fiche-lecture div.note-totale {
  padding:2em 3em 3em;
} */

/* *** DÉTAIL DES NOTES *** */

div.fiche-lecture div.detail {
  border-style:solid;
  border-width:1px 0;
  border-color:#CCC;
  padding-top:1em;
}

div.fiche-lecture div.detail div.divnote {
  border-style:solid;
  border-color:#CCC;
  border-width:1px 0;
  padding:1em;
}

div.fiche-lecture div.detail span.libelle,
div.fiche-lecture div.detail span.value
{
}
div.fiche-lecture div.detail span.libelle {
  font-style: normal;
  font-size:1em;
}
div.fiche-lecture div.detail span.value {
  font-size:1.3em;
  float:right;
}
div.fiche-lecture div.detail div.explication {
  margin-top:1em;
}
div.fiche-lecture div.detail div.explication-note {
  font-size: 0.9em;
  margin-left:2em;
}
