div#synopsis-container {
  position:relative;
}
div.synopsis {
  display:inline-block;
  border:1px solid #CCC;
  border-radius:0.5em;
  padding:1em;
  width: 150px;
  height: 200px;
  background-color: white;
  font-size: 12pt;
}
div.synopsis div.titre {
  height:40px;
  font-weight:bold;
}
div.synopsis div.note-generale {
  text-align:center;
  font-size: 32pt;
  font-family:"Arial Narrow", Arial, Geneva, Helvetica;
  margin-top: 8px;
  margin-bottom:20px;
}
div.synopsis div.keywords {
  font-size:0.9em;
}
div.synopsis div.state {

}
div.synopsis div.state.ok {
  color:green;
}
div.synopsis div.state:not(.ok){
  color:orange;
}
