<%
# frozen_string_literal: true
subject("Confirmation du virement par IBAN")
%>
<p>Bonjour <%= owner.pseudo %>,</p>

<p>Vous venez de confirmer le paiement de votre module “<%= objet.absmodule.name %>” par virement bancaire.</p>

<p>Nous vous remercions de votre confiance et vous souhaitons un agréable et studieux séjour au sein de l’atelier.</p>

<p>Bien à vous,</p>

<p><%= le_bot %></p>
