<p>Cette notification vous permet d'informer Phil que le paiement de <%= owner.icmodule.montant_humain %> pour votre module a bien été effectué, ceci afin qu'il puisse marquer votre module payé.</p>
<p class="explication">Merci de bien noter que cette notification ne doit être envoyée que lorsque votre virement vous a été confirmé par votre banque. Si Phil ne trouve pas trace de ce virement sur son compte, il ne pourra pas confirmer votre règlement. Merci à vous de votre compréhension.</p>
<p class="center mt2"><%= button_run(UI_TEXTS[:button_confirm_virement]) %></p>
