<p>Cette notification vous permet d'information Phil que le paiement de votre module a bien été effectué afin qu'il puisse marquer le module payé.</p>
<p class="explication">Merci de bien noter que cette notification ne doit être envoyée que lorsque votre virement vous a été confirmé par votre banque. Si Phil ne trouve pas trace de ce virement sur son compte, il ne pourra pas confirmer votre règlement. Merci à vous de votre compréhension.</p>
<p class="center mt2">
  <%= button_run('Confirmer que le virement a été effectué') %>
</p>
