<%
# Note : c'est l'AIPaiement qui est bindé à ce mail
%>
<p>Phil,</p>
<p>Je t'informe qu'un paiement vient d’être effectué par <%= owner.pseudo %>.</p>
<p>Ci-dessous la facture de ce réglement du module <%= icmodule.ref %>.</p>
<%= facture_mail %>
<p><%= le_bot %></p>
