div#actualites {
  padding:1em;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:#999999;
}
body.home div#actualites {
  margin-top:140px;
  border:1px solid var(--dark-color-normal);
  font-size:0.65 !important;
  max-width:360px !important;
}
div#actualites strong, div#actualites b {
  color:#333333 !important;
  font-weight: normal;
}
div#actualites div.titre {
  color:#777777 !important;
  font-variant: small-caps;
  font-size: 1.1em;
  margin-bottom: 1.3em;
  font-weight: bold;
}
div#actualites div.actu {
  line-height:12pt;
  margin-bottom:12pt;
}
div#actualites div.actu span.date {
  font-family:Georgia;
  font-size:10pt;
  color:var(--dark-color-normal);
  display:block;
}
div#actualites div.actu span.message {
  margin-left:1em;
  font-size:11pt;
}

@media only screen and (min-width: 768px) {
  /*
    --- Écran large ---
  */

  body.home div#actualites {
    margin-left: 60%;
  }

}
@media only screen and (max-width: 768px) {

}
