<div id="bandeau" class="nolimit">
  <div id="main-cadre">
    <div id="papillon"><img src="https://www.atelier-icare.net/img/Emojis/animaux/papillon-shadowed/papillon-shadowed-regular.png" alt="Papillon" /></div>
    <div id="titre"><a href="plan">Atelier Icare</a></div>
    <div id="sous-titre"><span class="nowrap">L’écriture dans</span> <span class="nowrap">tous ses états (*)</span></div>
  </div>
</div>
<div id="legende" class="nolimit">
  (*) Dans la forme (roman, scénario, BD, etc.) comme dans le fond (pitch, résumé, synopsis, scénario, etc.).
</div>
<div id="air-sous-bandeau">&nbsp;</div>
<%= Citation.rand.out %>

<!--

<a id="annonce" class="overbox" href="concours/accueil">
  <span>Concours 2021</span>
  <span class="spacer">de synopsis</span>
</a>

-->

<div id="actualites">
  <div class="titre">dernières activités</div>
  <%= Actualite.out(:lasts) %>
</div>
