body {
  max-width:none!important;
}
div#synopsis-container {
  position:relative;
}
div.synopsis {
  display:inline-block;
  border:1px solid #CCC;
  border-radius:0.5em;
  padding:1em;
  width: 192px;
  height: 320px;
  background-color: white;
  font-size: 12pt;
  margin-bottom: 12px;
}
div.synopsis.not-conforme {
  border-color:red;
}

div.synopsis a.note-generale {
  display:block;
  color:inherit;
  position:relative;
}
div.synopsis span.note-globale {
  position:absolute;
  bottom:4px;
  font-size:15pt;
  color:#999;
}
div.synopsis span.note-globale:before{content:"("}
div.synopsis span.note-globale:after{content:")"}

div.synopsis.ghost {
  opacity:0.5;
}
/* Tous les éléments masqués lorsque le synopsis n'est pas fourni */
div.synopsis.ghost div.jauge-pct-reponses,
div.synopsis.ghost div.fiche-buttons,
div.synopsis.ghost .note-generale,
div.synopsis.ghost div.div-pct-reponses
{
  visibility:hidden;
}

div.synopsis div.titre,
div.synopsis div.auteur
{
  height:40px;
}
div.synopsis div.titre {
  font-variant:small-caps;
  font-weight:bold;
  overflow:hidden;
  text-overflow:ellipsis;
}
div.synopsis div.auteur {
  text-align:right;
  overflow:hidden;
  text-overflow:ellipsis;
}
div.synopsis .note-generale,
div.synopsis span.pct-reponses {
  font-family:"Arial Narrow", Arial, Geneva, Helvetica;
}
div.synopsis .note-generale {
  text-align:center;
  font-size: 32pt;
  margin-top: 20px;
  height:70px;
  cursor:pointer;
}
div.synopsis div.div-pct-reponses {
  text-align:left;
  font-size:10.5pt;
}
div.synopsis div.jauge-pct-reponses {
  position:relative;
  background-color:red;
  width:100%;
  height:10px;
}
div.synopsis div.jauge-pct-reponses span.jauge-pct-reponses-done {
  position:absolute;
  display:inline-block;
  top:0;
  left:0;
  background-color:green;
  width:0%;
  height:10px;
}

div.synopsis div.state {

}
div.synopsis div.state.ok {
  color:green;
}
div.synopsis div.state:not(.ok){
  color:orange;
}

div.synopsis div.keywords {
  width: fit-content;
  height:48px;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:0.9em;
  margin-top: 1em;
}
div.synopsis span.kword {

}

div.synopsis div.synopsis-id {
  margin-top:8px;
  font-size:0.9em;
}

div.synopsis div.fiche-buttons {
  height:40px;
  padding:8px;
  background:beige;
}
