<p>
<%= user.pseudo %>,
</p>
<p>
Nous avons bien reçu vos documents de travail. Phil a été averti et devrait les télécharger très rapidement pour les commenter.
</p>
<p>
La date estimée de ce retour est le <%= @date_commentaires %>. Elle peut cependant varier en fonction des difficultés propres au document présenté.
</p>
<p>Liste des documents : <%= @documents_names %>.</p>
<p>En vous remerciant de votre patience,</p>
<p>L’administration de l’atelier Icare</p>
