<p class="presentation mb4">
Cet historique de travail <%=
bit21 = owner.option(21)
case
when bit21 == 0 then 'n’est partagé avec personne'
when bit21 & 1 > 0 then 'est partagé avec les icarien·ne·s seulement'
when bit21 & 8 > 0 then 'est partagé avec tout le monde (visiteurs quelconque et icarien·ne·s)'
end
%><% if user_is_owner?
  %> <span class="small">(<%= Tag.lien(route:"bureau/preferences", text:'modifier') %>)</span>.
  <% end %>
</p>
<%
if displayable?
%>
<div class="historique timeline mt2">
  <div class="vertical-timeline"></div>
  <% last_jour = nil %>
  <% owner.historique.each do |linehisto| %>
    <%= linehisto.out(last_jour) %>
    <% last_jour = linehisto.date_jour %>
  <% end %>
</div>
<%
end # / si l'historique est partagé
%>
