<%# frozen_string_literal: true %>
<%

#
# Note : 'concours' peut être soit le concours courant (si param(:an) n'est pas
# défini) soit le concours de l'année param(:an). Cf. le fichier html.rb
#

if concours.phase == 1 # Inscription et dépôt des documents

  %><p>Le concours est en cours, il n’y a pas encore de résultats.</p><%

elsif concours.phase == 2 # Présélections en cours

  %><h3>Présélections en cours…</h3>
  <p>Les présélections sont en cours, les résultats seront affichés très prochainement.</p><%

else # Sélection finale en cours, palmarès final, etc.

  %><%=

    # Le tableau du palmarès
    # ----------------------
    # En fonction de la phase, le tableau affiche le palmarès final ou
    # seulement les projets présélectionnés.

    concours.tableau_palmares

  %><%

end

%>

<%=

  # Section qui contient les liens vers toutes les sessions du concours
  Concours.section_previous_sessions

%>
