<%# frozen_string_literal: true %>
<%

if concours.phase > 3
  # =>  Soit le concours courant, en phase terminale, soit un
  #     concours précédent.

  %><%= concours.tableau_palmares %><%

else

  if concours.phase == 1

    %><p>Le concours est en cours, il n’y a pas encore de résultats.</p><%

  elsif concours.phase == 2

    %><h3>Présélections en cours…</h3>
    <p>Les présélections sont en cours, les résultats seront affichés très prochainement.</p><%

  elsif concours.phase > 2

    %><%= concours.tableau_preselecteds %>

    <%= concours.tableau_nonselecteds %><%

  end

end #/ une année ou l'année courante

%>

<h3>Palmarès des précédentes sessions</h3><%

  Concours.sessions_precedentes.each do |concours|

    %><%= concours.lien_palmares %><%

  end

%>
