div.fiche-lecture div.infos-projet div.note-totale div.note {
  font-size:16pt!important;
}

ul li span.titre {
  font-variant:all-small-caps;
  font-size:1.1em;
}
ul#preselecteds li, ul#nonselecteds li {
  margin-top: 1em;
  vertical-align:baseline;
}

ul#nonselecteds li span.note_et_classement {
  float:right;
  vertical-align:baseline;
}
ul#nonselecteds li span.note,
ul#nonselecteds li span.position {
  display:inline-block;
  width: 50px;
  text-align:right;
  vertical-align:baseline;
}

ul#nonselecteds li span.note {
}
ul#nonselecteds li span.position {
}

div#other-sessions-links {

}
div#other-sessions-links a {
  display:block;
  margin-top:0.3em;
}

table#infos-palmares {
  font-size:11pt;
  padding:0.3em;
  border:1px solid;
}
table#infos-palmares td:nth-child(1) {
  width: 140px;
  text-align: left;
  /* background:blue; */
}
table#infos-palmares td:nth-child(2) {
  width: 50px;
  text-align: right;
  /* background:red; */
}
