<p>
  Vous n’êtes pas en activité à l’atelier pour le moment.
</p>
<p>
  Si vous le désirez, vous pouvez <a href="modules/home">commander un module</a> pour reprendre du service ! <%= Emoji.get('smileys/hilare').texte %>
</p>
