<p>Vous pouvez cliquer sur le bouton ci-dessous pour télécharger les commentaires émis par Phil concernant votre <%= icetape.ref %>.</p>
<div class="center">
  <%= button_run("Télécharger les commentaires") %>
</div>
