<p>
Candidature de <%= owner.pseudo %> #<%= owner.id %> à l'atelier. Merci de la valider ou la refuser.
</p>
<!--

  TODO Mettre ici un formulaire pour charger ses documents de présentation

-->
[TÉLÉCHARGEMENT DES DOCUMENTS DE PRÉSENTATION]

<!--

  TODO Mettre ici un formulaire pour choisir ou confirmer son module

-->
[MODULE CHOISI]
