<div style="background-color:steelblue;color:white;padding:0.5em 1em;margin-bottom:0.5em;vertical-align:middle;">
  <img src="http://www.atelier-icare.net/img/papillon-logo.png" width="30" />
  <span style="vertical-align:middle;">
    <a href="http://www.atelier-icare.net" style="text-decoration:none;color:white;">ATELIER ICARE</a>
  </span>
</div>
<div id="citation" style="margin-bottom:2em;font-size:0.85em;text-align:right;padding-left:100px;padding-right:50px;">
  <span style="font-style:italic;">« <%= citation.texte %> »
  </span><span>&nbsp;–&nbsp;</span><span><%= citation.auteur %></span>
</div>
