<p>Bonjour <%= owner.pseudo %>,</p>

<p>Je vous informe que nous venons de procéder à la destruction de la discussion “<%= discussion_titre %>” que vous avez demandée le <%= date_destruction %> dernier.</p>

<p>Bien à vous,</p>

<p><%= le_bot %></p>
