<%
discussion = objet
%>
<p>Cliquer sur le bouton ci-dessous pour procéder à la destruction de la discussion “<%= discussion.titre %>” instanciée par <%= discussion.owner.pseudo %>.</p>
<p class="center"><%= button_run("Détruire la discussion") %></p>
<p class="explication">Note : tous les participants ont déjà été prévenus et ont eu le temps de faire une copie de cette discussion.</p>
<p>Vous pouvez aussi <%= button_unrun("renoncer à cette destruction") %>.</p>
