<fieldset>
  <p>Le prochain concours de synopsis de l'atelier Icare n'est pas encore lancé.</p>
  <p>Si vous êtes déjà inscrit·e, vous serez averti·e lors du lancement.</p>
  <p>Si vous voulez participer et être prévenu·e du lancement du concours, il suffit de vous pouvez <%= CONCOURS_SIGNUP.with("vous inscrire") %>.</p>
  <p class="right"><%= REGLEMENT_LINK.with('Voir le règlement') %></p>
</fieldset>
