<div id="fiche-lecture-%{id}" class="fiche-lecture%{exergue}">
  <div class="position">%{position}</div>
  <div class="infos-projet">
    <div class="projet-titre">
      <div class="titre"><%= titre %></div>
      <div class="auteurs"><%= formated_auteurs %></div>
    </div>
    <div class="note-totale">
      <div class="note"><%= formated_pre_note %></div>
      <div class="position"><%= position %></div>
    </div>
  </div>
</div>
