<%
# frozen_string_literal: true
subject("Notification automatique")
%>
<p>Phil,</p>
<p>Prends note des notifications automatiques suivantes :</p>
<ul>
  <%= liste_notifications %>
</ul>
<p>Bien à toi,</p>
<p>Le Bot de l'atelier</p>
