p.titre-etape {
  cursor:pointer;
}
p.titre-etape:hover {
  background-color:black;
  color:white;
}

form.edit-form {

}
form.edit-form div.libelle {
  margin-top:12px;
}
form.edit-form textarea,
form.edit-form input[type="text"]
{
  border:none;
  outline-width:2px;
  outline-style:solid;
  outline-color:#F5F5F5;
}
form.edit-form textarea:focus,
form.edit-form input[type="text"]:focus
{
  border:unset!important;
  outline-color:rgb(200,255,200,0.9);
}
