<div id="edit-toolbox" class="toolbox">
  <button id="toolbox-btn-save" type="button" class="btn mb2">Enregistrer</button>
  <button id="toolbox-btn-insert-variable" type="button">-> Balise variable</button>
  <button id="toolbox-btn-edit-wtype" type="button">Éditer le travail type</button>
  <hr>
  <%= html.menu_films %>
  <%= html.menu_mots %>
  <hr>
  <legend class="libelle">Correction des textes</legend>
  <button type="button" onclick="erbToMarkdown()">Code ERB -> MARKDOWN</button>
</div>
