<div id="edit-etape-toolbox" class="toolbox">
  <button type="button" class="btn" onclick="document.querySelector('form.edit-form').submit()">Enregistrer l'élément</button>
  <button type="button" onclick="CurrentField.current.insert.call(CurrentField.current,'<%= %>')">Insérer &lt;%= ... %&gt;</button>
  <button type="button" onclick="editTravailType()">Éditer le travail type</button>
  <hr>
  <legend class="libelle">Correction des textes</legend>
  <button type="button" onclick="erbToMarkdown()">Code ERB -> MARKDOWN</button>
  <button type="button" onclick="remplaceBaliseMot('md')">Balises MOT/FILM -> MD</button>
  <button type="button" onclick="remplaceBaliseMot('erb')">balises MOT/FILM -> ERB</button>
  <%= html.menu_films %>
</div>
