<!-- NON CORRIGÉ -->

<h3>Comment déposer ses documents sur le <em><%= quai_des_docs %></em> ?</h3>

<p>En réalité, on ne dépose pas ses documents sur le <em>Quai des docs</em>, c’est Phil qui s’en charge pour vous (sa bonté le perdra).</p>

<p>Mais ce dépôt ne peut survenir qu’une fois l’icarien·ne devenu·e un·e vrai·e icarien·ne (c'est-à-dire suite à son tout premier paiement) entendu qu’il nous semble juste de ne pas mettre en lecture les documents d’un·e candidat·e qui aurait renoncé à l’atelier.</p>

<p>Dès qu’un document a été déposé, un mail est envoyé à l’auteur·e afin qu’il ou elle décide de son partage (<%= Tag.aide(30) %>).</p>
