<p class="explication">Après vérification <a href="https://clients.boursorama.com/connexion/" target="_blank">sur ton compte</a>, tu peux confirmer le paiement du module “<%= owner.icmodule.name %>” de <%= owner.pseudo %> grâce au bouton ci-dessous.</p>
<p class="center"><%= button_run('Confirmer le paiement'.freeze) %></p>
