<p>[Outil pour nettoyer l'atelier online ou offline]</p>

<p>[Outil : opération icarien]</p>
<%= liste_statuts %>
<select id="icariens" class="small fleft" size=20></select>
<%= menu_icariens %>
<%= menu_operations %>
<!-- Pour sortir les icariens de la liste -->

<p>
<button type="button" onclick="EssaiAjax()">Essai simple ajax</button>
</p>
