<%
# frozen_string_literal: true

  form = Form.new(id:'send-comments-form', route:route.to_s, watcher:id)
  rows = {}
  icetape.documents.each_with_index do |document, idx|
    rows.merge!( "#{document.original_name}" => {name: "document-#{document.id}-comments", type:'file', class:'libelle_block'})
  end
  form.rows = rows
  form.submit_button = "Envoyer les commentaires"
%>
<div><%= icetape.ref.titleize %></div>
<%= form.out %>
