div.toolbox {
  position:fixed;
  right:200px;
  top:200px;
  border:1px solid;
  border-radius:8px;
  padding:1em;
  text-align:center;
}
div.toolbox:before {
  content:'ToolBox';
  font-size:0.7em;
  font-style:italic;
  color:#999999;
  opacity:0.4em;
  position:absolute;
  top:-1em;
  left:1em;
}

div.toolbox button,
div.toolbox a
{
  display:block;
  font-family:inherit;
  font-size:inherit;
  width:100%;
}
