<%
# Gabarit pour afficher le travail de l’icarien, lorsqu’il est reçu
# mais qu’il n’a pas encore démarré son module.
%>

<p>
<%= user.pseudo %>, lorsque vous aurez démarré votre module d’apprentissage, vous trouverez ici votre premier travail.
</p>
<p>Pour démarrer votre module, rejoignez <%= vos_notifications %>.</p>
