<p>
  Vous êtes en pause. Cliquez sur le bouton ci-dessous pour reprendre votre module pédagogique là où vous l'avez arrêté.
</p>
<p class="center">
  <a href="#{route.to_s}?ope=restart_module" class="btn main">Redémarrer</a>
</p>
