<%
# Vue utilisée pour la destruction d'une discussion

discussion = FrigoDiscussion.new(param(:disid))

%>
<h2>Téléchargement de la discussion</h2>

<p>Pour télécharger la discussion “<%= discussion.titre %>”, il vous suffit de cliquer sur le bouton ci-dessous.</p>

<div class="center">
  
</div>
