<%# frozen_string_literal: true %>
<%
# Pour choisir l'évaluateur
%>

<div id="synopsis-container">
  <% Synopsis.all_courant.each do |synopsis| %>
    <%= synopsis.out %>
  <% end %>
</div>

<%= EvaluationForm.build %>
