<p><%= pseudo %>,</p>
<p>Votre candidature à l’atelier Icare a bien été enregistrée.</p>
<p>Vous serez informé<%=fem(:e)%> très rapidement de la décision prise par Phil.</p>
<p>Merci de votre intérêt et de votre confiance.</p>
<p>Bien à vous,</p>
<p>L’administration de l’atelier Icare</p>
