<p><%= pseudo %>,</p>
<p>Merci de valider votre adresse mail en cliquant le bouton ci-dessous.</p>
<div style="text-align:center;padding:2em;">
  <%= ticket_validation_mail.lien('Valider votre adresse mail', style: STYLE_BUTTON_MAIL) %>
</div>
<p>Bien à vous,</p>
<p>L’administration de l’atelier Icare</p>
