<div class="right">
  <span class="libelle">Nombre total de documents :</span>
  <span class="value nombre-documents"><%= nombre_documents %></span>
</div>
<div class="icdocuments mt2 timeline">
  <div class="vertical-timeline"></div>
  <% last_date = Time.now.to_i + 1 %>
  <% documents.each do |document| %>
    <% if document.older_than(last_date) %>
      <% last_date = document.created_at.to_i %>
      <%= document.date_jour %>
    <% end %>
    <%= document.as_card %>
  <% end %>
</div>
