<%
# frozen_string_literal: true
=begin
  Panneau pour un icarien identifié qui est déjà inscrit pour le concours.
=end
%>
<p><%= user.pseudo %>, vous êtes déjà inscrit<%= user.fem(:e) %> au concours de synopsis. Il vous suffit de rejoindre votre <%= ESPACE_LINK %> pour voir les informations courantes ou envoyer votre fichier de candidature.</p>
