<%
# frozen_string_literal: true

%>
<%
form = Form.new(id:"concours-signup-form", route:route.to_s)
form.rows = {
  "<pour icarien/>" => {type:"raw", content: "<div class='italic'>Si <strong>vous êtes icarien ou icarienne</strong>, merci de #{LOGIN_LINK.with("vous identifier")} et vous pourrez vous inscrire au concours en un clic !</div>"},
  "<ancienconcur/>" => {type:"raw", content: "<div class='italic'>Si <strong>vous êtes un concurrent d'une session précédente</strong>, merci de #{CONCOURS_LOGIN.with("vous connecter")} pour vous inscrire à la session #{Concours.current.annee} en un seul clic !</div>"},
  "Votre patronyme" => {name:"p_patronyme", type:"text", placeholder: "Prénom Nom", errorable: true},
  "Votre mail"      => {name:"p_mail", type:"text", placeholder:"votre@mail.com", errorable: true},
  "Confirmation"    => {name:"p_mail_confirmation", type:"text", placeholder:"votre@mail-confirmé.com", errorable: true},
  "Votre genre"     => {name:"p_sexe", type:"select", values:[["F","féminin"], ["H","masculin"], ["N","neutre"]]},
  "<Règlement/>"    => {type:"checkbox", name: "p_reglement", values: "En cochant cette case, vous acceptez dans leur intégralité tous les termes du règlement du présent concours (consulter le #{REGLEMENT_LINK})."},
  "Fiche de lecture"=> {type:"checkbox", name: "p_fiche_lecture", values: "Oui, je désire recevoir la fiche de lecture du jury concernant mon projet (après les résultats)."},
  "Connu par…"      => {type:'select', values: CONCOURS_KNOWLEDGE_VALUES, name: 'p_knowledge'}
}
form.submit_button = UI_TEXTS[:concours_bouton_signup]
%>

<%= form.out %>
