<%
# frozen_string_literal: true
=begin
  Panneau pour un ANCIEN concurrent identifié, mais qui n'est pas encore
  inscrit pour ce concours en particulier.
  Un simple bouton lui permet de s'inscrire.
=end
%>
<p>
  En cliquant sur le bouton ci-dessous en tant qu'ancien<%=concurrent.fem(:ne)%> concurrent<%=concurrent.fem(:e)%>, vous pourrez participer à la session <%=Concours.current.annee%> du Concours de Synopsis.
</p>
<p class="mt2 center">
  <%= Tag.link(route:"#{route}?op=signupcursessancien", text: (UI_TEXTS[:concours_signup_session_concours] % {annee: Concours.current.annee}), class:"btn main") %>
</p>
