section#body.home {
  padding:0;
}
section#header {
  /* background-color:var(--dark-color-normal);
  opacity:0.4; */
  background:rgb(70, 130, 180,0.4);
}
section#header:hover {opacity:1;}

/* Le cadre dans lequel se trouve le titre */
div#bandeau {
  position:relative;
  margin:0;
  padding:2em 8em;
  background-image: url('http://www.atelier-icare.net/img/fond-home.jpg');
  background-size:cover;
  height:15em;
}
div#main-cadre {
  position:absolute;
  text-align:center;
  border-radius:1em;
  line-height:2.2em;
  padding:2em;
}
div#main-cadre div#titre {
  font-size:50pt;
}
div#main-cadre a {
  color:white!important;
  text-shadow: 4px 2px 5px black;
}
div#main-cadre div#sous-titre {
  color:white;
  text-shadow: 4px 2px 5px black;
  font-size:13.7pt;
  letter-spacing:3.2px;
  line-height:1em;
  margin-top:0.3em;
}


div.citation {
  margin-bottom:2em;
  color:#555555;
}

div#legende {
  font-size:0.71em;
  color:#777777;
  padding:0.1em 2em;
}

section#header {
  text-align:right;
}
section#header a {
  font-size:13pt;
  padding:0.1em 1em 0.1em;
  border:1px solid;
  border-radius:0.5em;
  color:white;
  font-variant:small-caps;
}
section#header a:hover {
  background-color:steelblue;
  color:white;
  transition:0.2s;
}

div#actualites {
  margin-top:140px;
  padding:1em;
  border:1px solid var(--dark-color-normal);
  font-size:0.65 !important;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:#999999;
  max-width:360px !important;
}
div#actualites strong, div#actualites b {
  color:#333333 !important;
  font-weight: normal;
}
div#actualites div.titre {
  color:#777777 !important;
  font-variant: small-caps;
  font-size: 1.1em;
  margin-bottom: 1.3em;
  font-weight: bold;
}
div#actualites div.actu {
  line-height:12pt;
  margin-bottom:12pt;
}
div#actualites div.actu span.date {
  font-family:Georgia;
  font-size:10pt;
  color:var(--dark-color-normal);
  display:block;
}
div#actualites div.actu span.message {
  margin-left:1em;
  font-size:11pt;
}


@media only screen and (min-width: 768px) {
  /* Écran large */
  div#air-sous-bandeau {
    height:100px;
  }
  div#actualites {
    margin-left:6em;
  }
}
@media only screen and (max-width: 768px) {
  /* Smartphone */
  div#air-sous-bandeau {
    height:40px;
  }
}
