section#body.home {
  padding:0;
}
section#header:hover {opacity:1;}

/* Le cadre dans lequel se trouve le titre */
div#bandeau {
  position:relative;
  margin:0;
  background-image: url('https://www.atelier-icare.net/img/fond-home.jpg');
  background-size:cover;
  height:15em;
}
div#main-cadre {
  position:absolute;
  text-align:center;
  border-radius:1em;
  line-height:2.2em;
}

div#main-cadre div#papillon {
  margin-top:-2pt;
}
@media only screen and (min-width: 767px) {
  /* ÉCRAN */
  div#main-cadre {
  }
  div#main-cadre div#titre {
    font-size:50pt;
  }
}
@media only screen and (max-width: 767px) {
  /* SMARTPHONE */
  div#main-cadre div#titre {
    font-size:40pt;
  }
  div#main-cadre {
    left:8%;
    right:8%;
  }
}

div#main-cadre a {
  color:white!important;
  text-shadow: 4px 2px 5px black;
}
div#main-cadre div#sous-titre {
  color:white;
  text-shadow: 4px 2px 5px black;
  font-size:13.7pt;
  letter-spacing:4.4px;
  line-height:1em;
  margin-top:0.3em;
}


div.citation {
  margin-bottom:2em;
  color:#555555;
}

div#legende {
  font-family:Arial, Helvetica !important;
  font-size:0.71em;
  color:#777777;
  padding:0.1em 2em;
}

section#header {
}
section#header a {
  font-size:13pt;
  padding:0.1em 1em 0.1em;
  border:1px solid;
  border-radius:0.5em;
  color:stealblue;
  /* color:white; */
  font-variant:small-caps;
}
section#header a:hover {
  background-color:steelblue;
  color:white;
  transition:0.2s;
}

/* ---------------------------------------------------------------------

                            EN FONCTION DU MÉDIA

--------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  /*
    --- Écran large ---
  */
  section#header {
    background: linear-gradient(to right, #ffffff 25%, rgb(70, 130, 180,0.4));
    text-align:right;
  }
  div#air-sous-bandeau {
    height:100px;
  }
  section#body.home div#main-cadre {
    width:450px;
    padding:2em;
    top:9%;
    right:10%;
    /* background:rgba(255, 255, 255, 0.1); */
    background:rgba(0, 31, 28, 0.1);
  }

  section#body.home div#main-cadre div#papillon {
    float:left;
  }

}
@media only screen and (max-width: 768px) {
  /*
    --- Smartphone ---
  */
  section#header {
    background: rgb(70, 130, 180,0.4);
    text-align:center;
  }
  section#header a {
    display:block;
    margin: 12px 0;
    font-size:16pt;
    /* background-color:red!important; */
  }
  section#body.home div#bandeau {
    padding:0;
  }
  section#body.home div#main-cadre {
    /* background:rgba(255, 255, 255, 0.6); */
    background:rgba(58, 51, 52, 0.5);
    top:2em;
    margin:auto 3%;
    padding:1em;
  }

  div#air-sous-bandeau {
    height:40px;
  }
}
