section#body.home {
  padding:0;
}
section#header:hover {opacity:1;}

/* Le cadre dans lequel se trouve le titre */
div#bandeau {
  position:relative;
  margin:0;
  background-image: url('http://www.atelier-icare.net/img/fond-home.jpg');
  background-size:cover;
  height:15em;
}
div#main-cadre {
  position:absolute;
  text-align:center;
  border-radius:1em;
  line-height:2.2em;
  padding:2em;
}

div#main-cadre div#papillon {
  float:left;
  font-size:40pt;
  margin-top:3pt;
}
div#main-cadre div#titre {
  font-size:50pt;
}

div#main-cadre a {
  color:white!important;
  text-shadow: 4px 2px 5px black;
}
div#main-cadre div#sous-titre {
  color:white;
  text-shadow: 4px 2px 5px black;
  font-size:13.7pt;
  letter-spacing:4.4px;
  line-height:1em;
  margin-top:0.3em;
}


div.citation {
  margin-bottom:2em;
  color:#555555;
}

div#legende {
  font-size:0.71em;
  color:#777777;
  padding:0.1em 2em;
}

section#header {
  text-align:right;
}
section#header a {
  font-size:13pt;
  padding:0.1em 1em 0.1em;
  border:1px solid;
  border-radius:0.5em;
  color:white;
  font-variant:small-caps;
}
section#header a:hover {
  background-color:steelblue;
  color:white;
  transition:0.2s;
}

@media only screen and (min-width: 768px) {
  /*
    --- Écran large ---
  */

  section#header {
    background: linear-gradient(to right, #ffffff 25%, rgb(70, 130, 180,0.4));
  }

  div#air-sous-bandeau {
    height:100px;
  }
}
@media only screen and (max-width: 768px) {
  /*
    --- Smartphone ---
  */
  section#header {
    background: rgb(70, 130, 180,0.4);
  }

  div#air-sous-bandeau {
    height:40px;
  }
}
