<% Synopsis.evaluate_all_synopsis if not Synopsis.evaluated? %>
<%=
  syno = Synopsis.get(param(:cid), param(:an))
  log("Clés de catégories : #{syno.evaluation.owners.keys}")
  log("syno catégories : #{syno.evaluation.owners.inspect}")
  syno.fiche_lecture.out
%>

<div class="mt3"><span class="small">Consultation : <%= designation_visiteur_courant %></span></div>
