<p>Bonjour %{patronyme},</p>
<p>Vous avez participé à une session précédente du <%= CONCOURS_LINK.with(absolute:true, online:true) %> et nous vous en remercions.</p>
<p>J'ai le plaisir de vous annoncer que la nouvelle session de ce concours est à nouveau lancée !</p>
<p>Retrouvez <%= CONCOURS_LINK.with(absolute:true, online:true, text: "toutes les informations") %> et venez découvrir le nouveau thème sur le site de l'atelier Icare.</p>
<p>Ou chargez directement le <%= REGLEMENT_LINK.with(absolute:true, online:true) %> au format PDF sur le site.</p>
<p>En nous réjouissant d'avance de votre participation prochaine,</p>
<p>Bien à vous,</p>
<p>L’Administration de l'atelier Icare</p>
