<p>Pour remettre le travail de votre étape courante, veuillez rejoindre la <%= Tag.lien(route:'bureau/sender?rid=send_work_form', text:'section d’envoi des documents') %>.</p>
<p class="explication small">(notez que vous trouvez également un bouton “Remettre le travail” dans la section de votre travail courant)</p>
