<div>
  <span class="libelle">Nombre total de documents :</span>
  <span class="value"><%= nombre_documents %>.</span>
</div>
<div class="only-message">
  Bientôt, ici, la liste complète de tous vos documents<br/>(avec leurs spécificités).
</div>
