<div>
  <span class="libelle">Nombre total de documents :</span>
  <span class="value nombre-documents"><%= nombre_documents %></span>
</div>
<div class="documents">
  <% documents.each do |document| %>
    <%= document.as_card %>
  <% end %>
</div>
