<p class="red">VOUS DEVEZ ABSOLUMENT VALIDER VOTRE ADRESSE MAIL GRÂCE AU BOUTON DU MAIL QUI VOUS A ÉTÉ ENVOYÉ.</p>
<div class="center mt2">
  <div>Vous avez perdu ce mail ?</div>
  <div class="mt1">
    <%= lien_operation('resend_valid_mail', 'Renvoyer le mail', class: 'btn') %>
  </div>
</div>
