<%
# frozen_string_literal: true

ilya_un_resultat = not(resultat.nil_if_empty.nil?)

# ---------------------------------------------------------------------
#
#   FORMULAIRE POUR LES ÉTAPES
#
# ---------------------------------------------------------------------
STEPS_VALUES = Concours::PHASES_DATA.collect do |k,v|
  # message("#{k}::#{k.class} < #{concours.phase}::#{concours.phase.class} ? #{(k < concours.phase).inspect}")
  name = if k == concours.phase
    v[:name_current]
  else
    k < concours.phase ? v[:name_done] : v[:name]
  end
  [k, name]
end
phaseform = Form.new(id:"concours-phase-form", route:route.to_s, class:"nogrid nobackground nomargin")
phaseform.rows = {
  "<op/>" => {type:"hidden", name:"op", value:"change_phase"},
  "Étape courante" => {type:"select", class:"", name:"current_phase", values:STEPS_VALUES, value:concours.phase},
}
phaseform.submit_button = "Simuler pour procéder à cette étape…"
phaseform.submit_button_class = "small btn"
%>

<%= lien_concours_data if ilya_un_resultat %>

<div><%= phaseform.out %></div>

<% if ilya_un_resultat %>
  <div id="concours-resultat"><%= resultat %></div>
<% else %>
  <%= concours_data_form %>
<% end %>
