<%
# frozen_string_literal: true

# Boucle sur la liste des synopsis classés par note
%>

<div class="left">
  <%= sorting_tools(param(:ks), param(:ss)) %>
</div>
<div id="fiches-lecture">
  <% fiches_synopsis = Synopsis.sorted_by(param(:ks),param(:ss)) %>
  <% if fiches_synopsis.count > 0 %>
    <% fiches_synopsis.each do |synopsis| %>
      <%= synopsis.fiche_lecture.out(format: :concurrent) %>
    <% end %>
  <% else %>
    <p>Il n'y a pas encore d’inscrit au concours <%= Concours.current.annee %>.</p>
  <% end %>
</div>
