<p>Phil,</p>
<p>Une nouvelle question a été posée pour la Mini-Faq</p>
<pre><code>
Auteur : <%= user_id ? "##{user_id}" : 'inconnu' %>
Concerne : objet.ref
Question : question
</code></pre>
<p>Très cher, vous pouvez y répondre en rejoignant <%= votre_bureau %>.</p>
<p>Bien à toi,</p>
<p><%= le_bot %></p>
