div#admin-toolbox {
  position:fixed;
  bottom:20px;
  left:10px;
  height:20px;
  padding:0;
  margin:0;
  z-index:500;
  transition:0.6s;
}
div#admin-toolbox:hover {
  box-shadow:-4px -4px 6px #CCCCCC;
  transition:0.6s;
  height:300px;
  bottom:20px;
}
div#admin-toolbox a.operation {
  display:block;
  font-family:arial,helvetica;
  font-size:12pt;
  color:#777777;
}
div#admin-toolbox a.operation:hover {
  color:#000;
}
div#admin-toolbox div.titre {
  background-color:transparent;
}
div#admin-toolbox div.content {
  padding:1em;
  height:300px;
  box-sizing:border-box;
  background-color:white;
}
